div#addIcon{
  margin-bottom: 3%;
  overflow: hidden;
    i{
      float: right;
      cursor: pointer;
    }
}

div#filterMessages{

    padding: 3%;
    h4{
      cursor: pointer;
      width: 90%;
      float: left;
      padding: 2% 0;
      
    }
    i{
        float: right;
        width: 10%;
        cursor: pointer;
        
      }
    h4, h5{
      color: #95989A;
      text-align: center;
    }
    form#sortForm {
      display: flex;
      justify-content: space-around;
      color: #95989A;
    }

    h3{
      width: 60%;
      margin: auto;
      text-align: center;
      color: #95989A;
      padding-bottom: 3%;
    }
    button#filterButton{
      display: block;
      margin: auto;
      margin-bottom: 2%;
      margin-top: 2%;
      padding: 3%;
      border: 1px solid gray;
      background: white;
      color: gray;
    }
}

div#googleForm{
  input{
    display: block;
    margin: auto;
    text-align: center;
    padding: 3px 0;
  }
  
}
p{
    margin: 3% 0;
    text-align: center;
    color: #95989A;
}

md-slider{
  width: 100%;
  display: block !important;
  margin: auto;
}

form#messageTypeForm{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
      div{
        color: #95989A;
        font-size: 16px;
        
        md-checkbox{
          label.md-checkbox-layout{
            span.md-checkbox-label{
              text-transform: lowercase;
            }
          }
        }
      }
}

div#companyCategories{
  width: 80%;
  margin: auto;
  color: #95989A;
  font-size: 16px;
  div{
    display: flex;
    flex-direction: column;
    div.subcategories{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    button{
      display: block;
      margin-bottom: 4%;
      padding: 3%;
      backface-visibility: gray;
      color: black;
      border: 0;
      border-radius: 1px;
    }
  }
}

.md-slider-thumb::after{
      background-color: white !important;
      border: 1px solid gray !important;
}

.md-slider-track-fill{
      background-color: gray !important;
}

div#mdSlider{
  width: 60%;
  margin: auto;
}

div.blackLine{
  width: 60%;
  margin: auto;
  height: 2px;
  background: black;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media(max-width: 575px){
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
