@import '../../theme/sass/conf/conf';

.card-header{
  background: #edebea;
}

.card-body{
  background: #edebea;
  input {
    background: #edebea;
    border: 1px solid white;
    padding: 10px;
    color: #000000;
  }
}

md-slider{
  width: 100%;

}

.md-slider-thumb::after{
  background-color: #A20E12 !important;
  border-color: #A20E12 !important;
}
.md-checkbox-checked .md-checkbox-background{
  background-color: #A20E12 !important;
}


md-checkbox{
  width: 100%;
  display: block;
  background: white;
  margin: 3px 0;
  padding: 2%;
  label{
    margin: 0;
    span {
      text-transform: lowercase;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

ba-card{
  button{
    width: 100%;
    border: 0;
    padding: 10px 0;
    background: white;
    text-transform: uppercase;
    margin-bottom: 1%;
  }

}

md-checkbox{

}

div.filtruj-typ-wiadomosci{
  font-size: 13px;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 2px solid #d3d3d3;
  padding-top: 2%;
}

div.filtruj-lokalizacja{
  margin-bottom: 2%;
}

div.typKomunikatuClass{
  &:last-child {
    margin-bottom: 2%;
  }
}

.feed-panel .card-body{
  padding: 10px 0;
}

.feed-message {
  $text-message-color: $content-text;
  $video-message-color: $danger;
  $image-message-color: $success;
  $geo-message-color: $primary;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  padding-bottom: 1%;
  border-bottom: 2px solid #A20E12;
  .hidden {
    display: none!important;
  }

  .message-icon {
    cursor: pointer;
      width: 20%;
      float: left;
    > img, .media-icon {
      width: 100%;
      height: 100%;
    }

    .sub-photo-icon {
      display: inline-block;
      padding: 4px;
      &:after {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        background-size: contain;
      }
      &.video-message {
        background: $video-message-color;
        &:after {
          @include bg-image('theme/icon/feed/feed-video.svg');
        }
      }
      &.image-message {
        background: $image-message-color;
        &:after {
          width: 21px;
          height: 21px;
          margin-top: 1px;
          margin-left: 1px;
          border-radius: 5px;
          @include bg-image('theme/icon/feed/feed-image.svg');
        }
      }
      &.geo-message {
        background: $geo-message-color;
        &:after {
          width: 22px;
          height: 22px;
          @include bg-image('theme/icon/feed/feed-location.svg');
        }
      }
    }

    .sub-photo-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      right: -2px;
      bottom: -4px;
      border-radius: 15px;
    }
  }

  .text-block {
    width: 78%;
    padding: 1%;
    float: right;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    color: $text-message-color;

    div.preview{
      display: block;
      overflow: hidden;
      clear: both;
      img{
        width: 50%;
      }
    }

    &.text-message {
      font-size: 12px;
      //width: inherit;
      //max-width: calc(100% - 80px);
      height: inherit;
      //min-height: 60px;
      &:before {
        display: block;
      }
      .message-content {
        font-size: 12px;
        line-height: 15px;
        font-weight: $font-light;
        display: block;
        margin-bottom: 2%;
      }
    }
    &.small-message {
      width: 155px;
      height: 145px;
      .preview {
        bottom: 0;
        top: initial;
        height: 87px;
        img {
          width: 155px;
          height: 87px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  .message-header {
    font-size: 7px;
    margin-bottom: 2%;
    .author {
      font-size: 18px;
    }
    .author:hover {
      color: #A20E12;
    }

  }

  .message-content {
    font-size: 30px;
    line-height: 20px;
    .content {
      text-transform: capitalize;
      font-size: 26px;
      padding-right: 5px;
      font-weight: bold;
    }
  }

  .preview {
    transition: 0s linear all;
    img {
      padding-top: 10px;
      width: 100%;
      height: auto;
      float: none!important;
    }
  }

  .filtruj-lokalizacja {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 2%;
  }

  .filtruj-typ-wiadomosci {
    font-size: 18px;
    line-height: 20px;
  }

  .message-time {
    width: 100%;
    font-size: 11px;
    .top-time {
      font-size: 14px;
      margin-bottom: 0.5%;
    }
    .post-time {
      float: left;
      padding: 3px 8px;
      background-color: white;
    }
    .ago-time {
      float: right;
    }
  }
}





.line-clamp
{
  display            : block;
  display            : -webkit-box;
  -webkit-box-orient : vertical;
  position           : relative;

  line-height        : 1.2;
  overflow           : hidden;
  text-overflow      : ellipsis;
  padding            : 0 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .line-clamp:after
  {
    content    : '...';
    text-align : right;
    bottom     : 0;
    right      : 0;
    width      : 25%;
    display    : block;
    position   : absolute;
    height     : calc(1em * 1.2);
  }
}


@supports (-webkit-line-clamp: 1)
{
  .line-clamp:after
  {
    display : none !important;
  }
}
.line-clamp-1
{
  -webkit-line-clamp : 1;
  height             : calc(1em * 1.2 * 1);
}
.line-clamp-2
{
  -webkit-line-clamp : 2;
  height             : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
  -webkit-line-clamp : 3;
  height             : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
  -webkit-line-clamp : 4;
  height             : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
  -webkit-line-clamp : 5;
  height             : calc(1em * 1.2 * 5);
}

.form-style-1 {
  margin:5px auto;
  max-width: 800px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
  width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
  width: 100%;
}
.form-style-1 .field-textarea{
  height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style-1 .required{
  color:red;
}
.aParent div {
  float: left;
  clear: none;
}
.sub-left {
  float: left;
}
.sub-right {
  float: left;
}
.datepicker {
}

li {
  margin: 5px;
}

.ng-busy {
  z-index: 1002;
}
.ng-busy,
.ng-busy > *,
.ng-busy > dynamiccomponent > * {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ng-busy-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background: #fff;
  opacity: .7;
}
.ng-busy-default-wrapper {
  text-align: center;
}
.ng-busy-default-sign {
  position: relative;
  display: inline-block;
  z-index: 1003;
  padding: 12px 14px;
  border: 1px solid #d8d8d8;
  border-top: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #f8f8f8;
  color: #333;
}
.ng-busy-default-text {
  display: inline-block;
  margin-left: 6px;
  max-width: 400px;
  font-size: 14px;
  text-align: left;
}
.ng-busy-default-spinner {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.ng-busy-default-spinner div {
  position: absolute;
  left: 44.5%;
  top: 37%;
  width: 10%;
  height: 26%;
  background: #666;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation: busy-spinner-anim 1s linear infinite;
  animation: busy-spinner-anim 1s linear infinite;
}
.ng-busy-default-spinner .bar1 {
  -webkit-transform: rotate(0deg) translate(0, -142%);
  transform: rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.ng-busy-default-spinner .bar2 {
  -webkit-transform: rotate(30deg) translate(0, -142%);
  transform: rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: -0.91666667s;
  animation-delay: -0.91666667s;
}
.ng-busy-default-spinner .bar3 {
  -webkit-transform: rotate(60deg) translate(0, -142%);
  transform: rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: -0.83333333s;
  animation-delay: -0.83333333s;
}
.ng-busy-default-spinner .bar4 {
  -webkit-transform: rotate(90deg) translate(0, -142%);
  transform: rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.ng-busy-default-spinner .bar5 {
  -webkit-transform: rotate(120deg) translate(0, -142%);
  transform: rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: -0.66666667s;
  animation-delay: -0.66666667s;
}
.ng-busy-default-spinner .bar6 {
  -webkit-transform: rotate(150deg) translate(0, -142%);
  transform: rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: -0.58333333s;
  animation-delay: -0.58333333s;
}
.ng-busy-default-spinner .bar7 {
  -webkit-transform: rotate(180deg) translate(0, -142%);
  transform: rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.ng-busy-default-spinner .bar8 {
  -webkit-transform: rotate(210deg) translate(0, -142%);
  transform: rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: -0.41666667s;
  animation-delay: -0.41666667s;
}
.ng-busy-default-spinner .bar9 {
  -webkit-transform: rotate(240deg) translate(0, -142%);
  transform: rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: -0.33333333s;
  animation-delay: -0.33333333s;
}
.ng-busy-default-spinner .bar10 {
  -webkit-transform: rotate(270deg) translate(0, -142%);
  transform: rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.ng-busy-default-spinner .bar11 {
  -webkit-transform: rotate(300deg) translate(0, -142%);
  transform: rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: -0.16666667s;
  animation-delay: -0.16666667s;
}
.ng-busy-default-spinner .bar12 {
  -webkit-transform: rotate(330deg) translate(0, -142%);
  transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.08333333s;
  animation-delay: -0.08333333s;
}
@-webkit-keyframes busy-spinner-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes busy-spinner-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }

}

.custom-modal-container {
  padding: 15px;
}

.custom-modal-header {
  background-color: #219161;
  color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  margin-top: -15px;
  margin-bottom: 40px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #A20E12 !important;
}
.btn {
  border: 0 none;
}

