<form *ngIf="logged">
  <ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
    <li>
      <label>Email <span class="required">*</span></label>
      <input type="email" name="field3" class="field-long" />
    </li>
    <li>
      <div class="datepicker">
        <div class="sub-left">
          <sample-date-picker-normal>loading...</sample-date-picker-normal>
        </div>
        <div class="sub-right">
          <sample-date-picker-normal>loading...</sample-date-picker-normal>
        </div>
      </div>
    </li>
    <li>
      <label>Rodzaj</label>
      <select name="field4" class="field-select">
        <option value="Promocja">Promocja</option>
        <option value="Praca">Praca</option>
        <option value="Wydarzenie">Wydarzenie</option>
        <option value="Oferta krotkoterminowa">Oferta krótkoterminowa</option>
        <option value="Warto zajrzec">Warto zajrzeć</option>
        <option value="General Question">General</option>
      </select>
    </li>
    <li>
      <label>Your Message <span class="required">*</span></label>
      <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
      <input type="submit" value="Submit" />
    </li>
  </ul>
</form>
<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let komunikat of komunikatyList.objectList" (click)="expandMessage(komunikat)">
    <div class="message-icon" *ngIf="komunikat.type == 'PROMOTION'">
      <img class="photo-icon" src="assets/img/app/profile/kamil.png">
    </div>

    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ komunikat.companyBranch.name }} {{ komunikat.companyBranch.city}} {{ komunikat.companyBranch.street}} {{ komunikat.companyBranch.streetNo}}

        </span>
      </div>
      <div class="message-content line-clamp">
        <span >{{ komunikat.content}} </span>
      </div>

      <div class="preview" [ngClass]="{'hidden': !komunikat.expanded}" *ngIf="komunikat.type">
          <img src="assets/img/app/feed/my-little-kitten.png">
      </div>

      <div [ngClass]="{'hidden': !komunikat.expanded}" class="message-time">
        <div class="post-time">
          {{ komunikat.startDate }}
        </div>
        <div class="ago-time">
          {{ komunikat.endDate }}
        </div>
      </div>
    </div>
  </div>
</div>
