<div id="editProfile">
    <div id="editH">
        <h3>edytuj profil</h3>
    </div>

    <form id="changeCI" [formGroup]="companyForm" (ngSubmit)="udpateCompanyName(companyForm.value)">
        <!-- <div class="image-upload">
            <ba-picture-uploader #fileUpload (beforeUpload)="beforeUpload($event)" [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
        </div> -->

        <div id="name">
            <label for="nazwa">nazwa firmy</label>
            <input type="text" id="nazwa" formControlName="name">
        </div>
        
        <div id="address" formGroupName="address">
            <div id="town">
                <label for="miasto">miasto</label>
                <input type="text" id="miasto" formControlName="city">
            </div>
            <div id="street">
                <label for="ulica">ulica</label>
                <input type="text" id="ulica" formControlName="street">
            </div>
            <div id="streetNo">
                <label for="numer">nr ulicy</label>
                <input type="number" id="numer" formControlName="streetNo">
            </div>
        </div>
            <button type="submit">Zapisz</button>
    </form>
    <div class="errorDiv">
        <span *ngIf="messageAfterUpdateCompany">Pomyślnie zaktualizowano profil</span>
    </div>
</div>

<div id="companyInfo">

    <div class="header">
        <h3 style="cursor:auto;">zmień e-mail</h3>
    </div>

        <form class="changeEP" [formGroup]="emailForm" (ngSubmit)="updateEmail(emailForm.value)">
            <div>
                <input type="email" id="email" formControlName="email" placeholder="nowe e-mail">
                <div class="errorDiv" *ngIf="emailForm.controls['email'].hasError('required') && emailForm.controls['email'].touched">
                    musisz wpisać e-mail
                </div>
                <div *ngIf="emailForm.controls['email'].hasError('email') && emailForm.controls['email'].touched" class="errorDiv">
                    niepoprawny adres e-mail
                </div>
            </div>
    
            <div>
                <input type="password" id="password" placeholder="stare hasło" formControlName="password">
                <div class="errorDiv"
                    *ngIf="emailForm.controls['password'].touched && !emailForm.controls['password'].valid">
                    Musisz wpisać stare hasło
                </div>
            </div>

            <button [ngClass]="{valid: (emailForm.valid), invalid: (!emailForm.valid)}" type="submit" [disabled]="!emailForm.valid">Zapisz</button>
            
        </form>

    <div class="header">
        <h3 (click) = "isCollapse = !isCollapse">zmień hasło</h3>
    </div>

    <form [collapse]="isCollapse" class="changeEP" [formGroup]="passwordForm" (ngSubmit)="udpatePassword(passwordForm.value)">
        <div [ngClass]="{'has-error': passwordForm.controls['oldPassword'].touched}">
            <input type="password" id="oldPassword" placeholder="stare hasło" [formControl]="passwordForm.controls['oldPassword']">
            <div class="errorDiv"
                *ngIf="passwordForm.controls['oldPassword'].touched && !passwordForm.controls['oldPassword'].valid">
                Musisz wpisać stare hasło
            </div>
        </div>
        <div formGroupName="passwords">
            <input type="password" id="password" placeholder="nowe hasło" formControlName="password">
            <input type="password" id="passwordRepeat" placeholder="powtórz nowe hasło" formControlName="repeatPassword">
            <div class="errorDiv" *ngIf="!passwordForm.controls['passwords'].valid && passwordForm.controls['passwords'].touched">
                <span>Hasła nie są takie same</span>
            </div>
        </div>
        <button type="submit" [disabled]="!passwordForm.valid">Zapisz</button>
        
    </form>

    

    <div class="errorDiv">
        <span *ngIf="messageAfter">Pomyślnie zmieniono hasło</span>
    </div>

</div>

