@import "../../../pages/filters/filters.scss";
@import '../../sass/general/nouislider.scss';
@import '../../sass/general/general.scss';

div.ba-search-div{
    
    padding-top: $paddingTop;
    @include line(1, $blackColor, 94, 15);
    div.showAdvanced{
        background-image: url('../../../meta/przycisk.png');
        background-size: 100% 100%;
        width: 210px;
        height: 80px;
        margin: auto;
        font-family: $sanchezFont, serif;
        font-size: 16px;
        text-align: center;
        padding: 13px 20px;
        cursor: pointer;
        color: $blackColor;
    }

    h3{
        font-family: $sanchezFont, serif;
        font-size: 20px;
        text-align: center;
        color: $redColor;
    }

    form{
        padding-bottom: 20px;
    }

    div.inputs{
        display: flex;
        justify-content: space-around;
        @include margin(20, 20);
        @include button('przycisk2.png', 16, 260, 50);
        button.searchSubmit{
            &.disabled{
                color: $blackColor;
            }
        }
        input.searchLocation{
            color: $blackColor;
            &::placeholder{
                color: $blackColor;
            }
        }
    }

    div.searchError{
        font-size: 15px;
        font-family: $openSansFont, sans-serif;
        text-transform: lowercase;
        text-align: center;
        color: $redColor;
    }
}

p.distance{
    font-size: 16px;
    font-weight: bold;
    font-family: $openSansFont, sans-serif;
    margin: 20px 0;
    text-align: center;
}

p.distance2{
    color: $blackColor;
    text-align: right;
    font-size: 15px;
    font-family: $openSansFont, sans-serif;
    margin-right: 35px;
}