<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<div class="ba-search-div">

    <h3>szukaj</h3>
    
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">

        <div class="inputs">
            <input class="inputSearch" type="text" formControlName="searchTerm" placeholder="...">
            <button class="searchSubmit" type="submit" value="szukaj" [disabled]="!searchForm.valid" [ngClass]="{disabled: !searchForm.valid}"></button>
        </div>
        <div class="searchError" *ngIf="searchForm.controls['searchTerm'].hasError('required') && searchForm.controls['searchTerm'].touched">Wpisz szukaną frazę</div>

        <div class="showAdvanced" (click)="showAdvanced = !showAdvanced">
            zaawansowane szukanie
        </div>
         
        <div [collapse] = "showAdvanced"> 
            <p class="distance">Odległość</p>
            <div id="nouisliderDiv">
                <nouislider [min]="0" [max]="101" [step]="1" [(ngModel)]="someValue" formControlName = "range"></nouislider>
            </div>

            <p class="distance2">
                Odległośc - 
                <span *ngIf="someValue !== 101">{{ someValue }} km</span>
                <span *ngIf="someValue === 101">brak ograniczeń</span>
            </p>

            <div class="blacklineF">
            </div>

            <div id="checkboxDiv">
                <div id="checkboxesValues">
                    <div class="c" *ngFor="let messageType of messageTypesOb">
                        <div class="checkbox">
                            <input type="checkbox" id="types-{{messageType.name}}" (click)="setType(messageType.name)">
                            <label for="types-{{messageType.name}}"></label>
                        </div>
                        <span>{{ messageType.value }}</span>
                        <i *ngIf="messageType.name === 'EVENT'" class="material-icons">event</i>
                        <i *ngIf="messageType.name === 'WORK'" class="material-icons">work</i>
                        <i *ngIf="messageType.name === 'SHORT_TERM_OFFER'" class="material-icons">timer</i>
                        <i *ngIf="messageType.name === 'WORTH_SEEING'" class="material-icons">visibility</i>
                        <i *ngIf="messageType.name === 'PROMOTION'" class="material-icons">loyalty</i>
                    </div>
                </div>
            </div>

            <div id="companyCategories">
                <div class="categoriesI" *ngFor="let category of categories">
                    <div class="blacklineF">
                    </div>
                    <button type="button" (click)="category.bol = !category.bol" [ngSwitch]="category.id">
                        <img *ngSwitchCase="1" src="../../meta/menu_icons/kultura_i_rozrywka.png" alt="">
                        <img *ngSwitchCase="2" src="../../meta/menu_icons/gastronomia_i_nocne_zycie.png" alt="">
                        <img *ngSwitchCase="3" src="../../meta/menu_icons/zakupy_male.png" alt="">
                        <img *ngSwitchCase="4" src="../../meta/menu_icons/zakupy_duze.png" alt="">
                        <img *ngSwitchCase="5" src="../../meta/menu_icons/uslugi_dla_ciala.png" alt="">
                        <img *ngSwitchCase="6" src="../../meta/menu_icons/uslugi_inne.png" alt="">
                        <img *ngSwitchCase="7" src="../../meta/menu_icons/sport_i_turystyka.png" alt="">
                        {{ category.name }}
                    </button>
                    
                    <div [collapse]="category.bol" *ngFor="let subcategory of category.subcategories">
                        <div class="subcategories">
                            <div class="checkbox" >
                                <input type="checkbox" id="sub-{{ subcategory.id }}" (click)="setSubcategory(subcategory.id)">
                                <label for="sub-{{ subcategory.id }}"></label>
                            </div>
                            <span>{{ subcategory.name }}</span>
                            
                        </div>
                    </div>
                    
                </div>
            </div>

         </div> 
        
        
    </form>

</div>
