<form id="profile-form" [formGroup]="branchForm" (ngSubmit)="action(branchForm.value)">
    <label>Nazwa</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="!branchForm.controls['name'].valid && branchForm.controls['name'].touched" class="error">
        Musisz wpisać nazwę
    </div>

    <label>Miasto</label>
    <input type="text" id="city" formControlName="city">
    <div *ngIf="!branchForm.controls['city'].valid && branchForm.controls['city'].touched" class="error">
        Musisz wpisać miasto
    </div>

    <label>Ulica</label>
    <input type="text" id="street" formControlName="street">
    <div *ngIf="!branchForm.controls['street'].valid && branchForm.controls['street'].touched" class="error">
        Musisz wpisać ulicę
    </div>

    <label>Nr ulicy</label>
    <input type="number" id="streetNo" formControlName="streetNo">
    <div *ngIf="!branchForm.controls['streetNo'].valid && branchForm.controls['streetNo'].touched" class="error">
        Musisz wpisać nr ulicy
    </div>
    <input type="submit" [disabled]="!branchForm.valid" value="{{ type }} oddział" [ngClass]="{disabled: !branchForm.valid}">
</form>