@import "../profile/profile.scss";

div.notifications{

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    @media(max-width: 565px){
        width: 90%;
    }
    @media(min-width: 566px){
        width: 70%;
    }
    @media(min-width: 768px){
        width: 60%;
    }
    @media(min-width: 992px){
        width: 50%;
    }
    div.notification{
        margin-bottom: 20px;
        h3{
            font-family: 'Sanchez', serif;
            margin: 5px 0;
            color: $redColor;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: $blackColor;
            margin: 0;
        }
        @include button('przycisk.png');
        button {
            margin: initial;
        }
    }
}