<div class="changePassword">

    <p>{{ title }}</p>

    <form [formGroup] = "emailForm" (ngSubmit)="changePassword(emailForm.value)">
        <input type="email" placeholder="email" formControlName="email">
        <div *ngIf="emailForm.controls['email'].hasError('required') && emailForm.controls['email'].touched" class="error">
            <p>niepoprawny adres e-mail</p>
        </div>
        <div *ngIf="emailForm.controls['email'].hasError('email') && emailForm.controls['email'].touched" class="error">
            <p>adres e-mail jest wymagany</p>
        </div>
        <button [ngClass] = "{disabled: (!emailForm.valid)}" [disabled]="!emailForm.valid">wyślij</button>
    </form>

    <p *ngIf="message" class="info">{{ message }}</p>

</div>