@import '../../theme/sass/general/general.scss';

div.updatePassword{

    border: 2px solid $blackColor;
    margin: auto;
    padding: 20px;
    width: 343px;
    min-height: 342px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p{
        text-align: center;
        color: $blackColor;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
    }
    @include inputBlack(10, 16, 100);
    @include button('przycisk2.png', 20, 184, 60);
    button.disabled{
        color: $blackColor;
    }

    div.error{
        margin: 10px 0;
        p{
            margin: 0;
            color: $redColor;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
        }
    }

}