//@import '../../theme/sass/conf/conf';
//@import '../../theme/sass/auth';

div#profile{
    margin: auto;
    img#companyImg{
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
        border-radius: 1000px;
    }
    h2{
        
        text-align: center;
    }

    div#daneFirmy{
        h3{
            text-align: center;
            margin: 3% 0;
            font-size: 17px;
        }
        form#changeEP{
            input{
                display: block;
                margin: auto;
                padding: 2%;
                text-align: center;
                margin-bottom: 2%;
            }
            button{
                display: block;
                padding: 2%;
                background: white;
                border: 1px solid gray;
                color: gray;
                margin: auto;
            }
        }
    }
    div#editProfile{
        margin: auto;
        h3{
            text-align: center;
            margin: 3% 0;
        }
        form#changeCI{
            input[type=text], input[type=password], input[type=email]{
                width: 100%;
            }
            div.image-upload{
                width: 40%;
                border: 1px solid gray;
                border-radius: 1px;
                float: left;
                div.file-upload{
                    background: white;
                    label{
                        background: white;
                        color: gray;
                        border: 1px solid gray;
                    }
                }
            }
            div#name{
                margin: 0;
                float: right;
            }
            div#address{
                clear: both;
                float: left;
                margin: 4% 0;
                overflow: hidden;
                width: 100%;
                
                div#town, div#street{
                    width: 40%;
                    float: left;
                    padding-right: 1%;
                }
                div#streetNo{
                    width: 20%;
                    float: left;
                }
            }
            

            button{
                clear: both;
                display: block;
                margin: auto;
                background: white;
                border: 1px solid gray;
                padding: 1%;
                color: gray;
            }
        }
        
    }
    div#messages{
        i.material-icons{
            margin-left: 40%;
        }
    }
    div#additionalInfo{
        width: 70%;
        margin: auto;
        padding: 2% 0;
        form{
            input[type=text], input[type=password], input[type=email]{
                width: 100%;
            }
            div#contact{
                clear: both;
                float: left;
                margin: 1% 0 2% 0;
                width: 100%;
                div#www, div#telephone, div#email{
                    width: 50%;
                    float: left;
                    padding-right: 2%;
                    margin-top: 2%;
                }
                div#openingHours{
                    width: 50%;
                    float: right;
                    label{
                        display: block;
                        text-align: right;
                    }
                    textarea{
                        float: right;
                        width: 100%;
                    }
                }
                div#description{
                    float: left;
                    clear: both;
                    width: 100%;
                    margin: 1% 0;
                    label{
                        display: block;
                    }
                    textarea{
                        width: 100%;
                    }
                }
            }
            button{
                clear: both;
                display: block;
                margin: auto;
                background: white;
                border: 1px solid gray;
                padding: 1%;
                color: gray;
            }
        }
    }
    div#branches{
        p{
            text-align: center;
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 4%;
            margin-bottom: 4%;
            padding: 2%;
            border: 1px solid gray;
            border-radius: 2px;
            input[type=submit]{
                width: 40%;
                margin: auto;
                margin-top: 3%;
                margin-bottom: 3%;
                background: white;
                color: gray;
                border: 1px solid gray;
                padding: 5px;
            }
        }
    }
    md-tab-group{
        div.md-tab-header{
            justify-content: space-around;
            border: none !important;
        }
        div.md-tab-label{
            background: white;
            border: 2px solid black;
            opacity: 1 !important;
            padding: 0 !important;
            &:focus{
                border: none !important;
            }
            &.md-tab-active{
                opacity: 1 !important;
            }
        }
        md-ink-bar{
            color: white !important;
            background-color:black !important;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid gray;
  -webkit-text-fill-color: gray;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media(max-width: 575px){
    div#profile{
        display: block;
        padding: 3%;
        div#editProfile{
            margin-bottom: 5%;
             div.image-upload{
                 width: 50%;
             }
             div#name{
                 width: 50%;
                 padding-left: 2%;
                 margin: 0;
             }
        }
        div#messages{
            width: 100%;
        }
    }
    md-tab-group{
        div.md-tab-header{
            margin-bottom: 10%;
        }
        div.md-tab-label{
            border: 2px solid black;
            min-width: 30px !important;
            height: 30px !important;
            &:focus{
                background-color: black !important;
            }
            &.md-tab-active{
                background: black;
            }
        }
    }
}
@media (min-width: 576px) {
    div#profile{
        width: 80%;
        padding-top: 3%;
        div#editProfile{
            width: 100%;
            
            div#name{
                width: 100%;
                margin: 3% 0;
                input{
                    width: 100%;
                }
            }
        }
        div#messages{
            width: 100%;
        }
    }
}
@media (min-width: 768px) {
    div#profile{
        
        width: 80%;
        padding-top: 3%;
        div#editProfile{
            width: 40%;
            div#name{
                width: 100%;
            }
        }
        div#messages{
            width: 60%;
        }
    }
}
@media (min-width: 992px) {
    div#profile{
        width: 80%;
        padding-top: 2%;
        div#editProfile{
            width: 40%;
        }
        div#messages{
            width: 60%;
        }
    }
}
@media (min-width: 1200px) {
    div#profile{
        h2{
            margin: 3% 0;
        }
        div#daneFirmy{
            form#changeEP{
                input[type=text], input[type=password]{
                    padding: 1%;
                    margin-bottom: 1%;
                    width: 60%;
                }
                button{
                    width: 20%;
                    padding: 1%;
                }
            }
        }
        div#editProfile{
            width: 70%;
            form#changeCI{
                margin-bottom: 3%;
                div.image-upload{
                    width: 50%;
                    float: left;
                }
                div#name{
                    width: 40%;
                }
                div#address{
                    div#town, div#street{
                        width: 40%;
                    }
                    div#streetNo{
                        width: 20%;
                    }
                }
                div#contact{
                    
                    div#www, div#telephone, div#email{
                        width: 50%;
                    }
                    div#openingHours{
                        width: 50%;
                    }
                    div#description{
                        width: 100%;
                    }
                }
            }
        }
        div#messages{
            width: 70%;
        }
    }       
}
