@import '../../theme/sass/general/general.scss';

div.popover{
    border: 1px solid $blackColor;
    border-radius: 0;
    width: 234px !important;

    h3.popover-title{
        background: transparent;
        border-bottom: 1px solid $blackColor;
    }
    
    div.popover-content{
        padding: 0;
        button{
            width: 100px !important;
            height: 60px !important;
        }
    }
}

div#profile{

    div.headProfile{
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 20px;
        @media(max-width: 565px){
            flex-direction: column;
        }
        @media(min-width: 566px){
            flex-direction: row;
        }

        h2{
            width: auto;
            margin-left: 20px;
        }
    }

    margin: auto;
    padding-top: 40px;

    div.errorDiv{
        color: $redColor;
        text-align: center;
        padding: 2% 0;
    }

    img.companyImg{
        width: 125px;
        height: 125px;
        @media(max-width: 565px){
            margin: auto;
        }
    }
    h2{
        margin: 4% 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: $blackColor;
    }

    div#messages{
        margin: auto;
        i.material-icons{
            margin-left: 40%;
        }
        md-tab-group{
            margin-top: 3%;
        }
    }
    
    md-tab-group{
        div.md-tab-body{
            margin: auto;
            @media(max-width: 544px){
                width: 96%;
            }
            @media(min-width: 545px){
                width: 96%;
            }
            @media(min-width: 768px){
                width: 709px;
            }
        }
        div.md-tab-header{
            border: none !important;
            @media(max-width: 544px){
                justify-content: space-around;
            }
            @media(min-width: 545px){
                justify-content: space-around;
            }
            @media(min-width: 992px){
                justify-content: space-evenly;
                width: 75%;
                margin: auto;
            }
        }
        div.md-tab-label{
            img{
                width: 40px;
            }
            p{
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
            }
            height: 100px;
            background: white;
            opacity: 1 !important;
            padding: 0 !important;
            font-family: 'Open Sans', sans-serif;
            color: $blackColor;
            &:focus{
                border: none !important;
            }
            &.md-tab-active{
                opacity: 1 !important;
                background: white !important;
                p{
                    color: $blackColor;
                }
            }
        }
        md-ink-bar{
            top: 40px;
            // width: 130px !important;
            color: white !important;
            background-color: $redColor !important;
        }
    }
}

@media(max-width: 544px){
    
    md-tab-group{
        div.md-tab-label{
            min-width: 30px !important;
            height: 54px !important;
            &:focus{
                background-color: white !important;
            }
        }
    }

    md-ink-bar{
        top: 50px !important;
    }
}
@media (min-width: 545px) and (max-width: 992px){
   md-tab-group{
        div.md-tab-label{
            min-width: 30px !important;
            // height: 50px !important;
            &:focus{
                background-color: white !important;
            }
        }
    }
}
