@import '../../theme/sass/general/general.scss';

$image_width: 125px;
$image_height: 125px;

div.popover{
    border: 1px solid $blackColor;
    border-radius: 0;
    width: 234px !important;

    h3.popover-title{
        background: transparent;
        border-bottom: 1px solid $blackColor;
    }
    
    div.popover-content{
        padding: 0;
        button{
            width: 100px !important;
            height: 60px !important;
        }
    }
}

div.modal-content{

    div.header {
        text-align: center;
    }
    agm-map{
        height: 500px;
    }
    div#addForm{
        @include line(1, $blackColor, 80, 10);
        @include padding(20, 20, 0, 0);

        overflow: hidden;
        div.header{
            position: relative;
            @media(max-width: 565px){
                margin-top: 10px;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 30px;
                    color: $redColor;
                }
                h3{
                    width: auto;
                    color: $redColor;
                    font-size: 25px;
                    font-weight: normal;
                    text-transform: lowercase;
                    font-family: $sanchezFont, serif;
                    margin-right: 10px;
                }
            }

            @include button('close-circle-outline.png', 0, 30, 30);
            button.header-button{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 1;
                text-align: right;
                margin-right: 10px;
            }
        }
        
        div.date{
            margin-top: 5px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(max-width: 565px){
                width: 100%;
            }
            @media (min-width: 566px){
                width: 50%;
            }
            img{
                cursor: pointer;
                width: 43px;
            }
            div.text{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include pElement(16, 5, left, center);
            }
        }

        div.content{
            width: 100%;
            clear: both;
            
            @include pElement(15, 0, right, right);
            p{
                margin-right: 10%;
            }
            textarea{
                margin: auto;
                display: block;
                width: 80%;
                text-align: center;
                color: $blackColor;
                outline: 0;
                font-family: $openSansFont, sans-serif;
                cursor: text;
                min-height: 75px;
                border: 0;
            }
        }
        
        
        
        div.odzialFirmy{

            div.chosenBranches{
                span{
                    color: $redColor;
                }
            }
            
            div.dropdown{
                text-align: center;
                
                @include button('oddzialy.png', 0, 53, 53);
                button{
                    @media(max-width: 565px){
                        margin-left: 18px !important;
                    } 
                    @media(min-width: 566px){
                        margin: 0 !important;    
                    }

                    text-indent: -9999em;
                    span{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                }
            }
            ul {
                min-width: 240px;
                border: 1px solid $blackColor;
                border-radius: 0;
                left: 20%;
                @media(max-width: 565px){
                    top: -230px;
                }
                @media(min-width: 566px){
                    top: -230px;
                    left: -150px;
                }
                li {
                    text-align: center;
                    &:hover{
                        background: none;
                    }
                    a {
                        color: $blackColor;
                        font-size: 16px;
                        padding: 5px 0;
                        display: block;
                    }
                }
            }
        }
    }
    
}


div#profile{

    div.headProfile{
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 565px){
            flex-direction: column;
        }
        @media(min-width: 566px){
            flex-direction: row;
        }

        h2{
            width: auto;
            margin-left: 20px;
        }

        @include button('przycisk.png', 18, 108, 47);

        div.image-upload{
            position: relative;
            ng2-letter-avatar{
                img{
                    width: $image_width;
                }
            }
        }
    }

    margin: auto;
    padding-top: 40px;

    div.errorDiv{
        color: $redColor;
        text-align: center;
        padding: 2% 0;
    }

    img.companyImg{
        width: 125px;
        height: 125px;
        @media(max-width: 565px){
            margin: auto;
        }
    }
    h2{
        margin: 4% 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: $blackColor;
    }

    div#messages{
        margin: auto;
        i.material-icons{
            margin-left: 40%;
        }
        md-tab-group{
            margin-top: 3%;
        }
    }
    
    md-tab-group{
        div.md-tab-body{
            margin: auto;
            @media(max-width: 544px){
                width: 96%;
            }
            @media(min-width: 545px){
                width: 96%;
            }
            @media(min-width: 768px){
                width: 709px;
            }
        }
        div.md-tab-header{
            border: none !important;
            @media(max-width: 544px){
                justify-content: space-around;
            }
            @media(min-width: 545px){
                justify-content: space-around;
            }
            @media(min-width: 992px){
                justify-content: space-evenly;
                width: 75%;
                margin: auto;
            }
        }
        div.md-tab-label{
            img{
                width: 40px;
            }
            p{
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
            }
            height: 100px;
            background: white;
            opacity: 1 !important;
            padding: 0 !important;
            font-family: 'Open Sans', sans-serif;
            color: $blackColor;
            &:focus{
                border: none !important;
            }
            &.md-tab-active{
                opacity: 1 !important;
                background: white !important;
                p{
                    color: $blackColor;
                }
            }
        }
        md-ink-bar{
            top: 40px;
            // width: 130px !important;
            color: white !important;
            background-color: $redColor !important;
        }
    }
}

@media(max-width: 544px){
    
    md-tab-group{
        div.md-tab-label{
            min-width: 30px !important;
            height: 54px !important;
            &:focus{
                background-color: white !important;
            }
        }
    }

    md-ink-bar{
        top: 50px !important;
    }
}
@media (min-width: 545px) and (max-width: 992px){
   md-tab-group{
        div.md-tab-label{
            min-width: 30px !important;
            // height: 50px !important;
            &:focus{
                background-color: white !important;
            }
        }
    }
}

a.change-picture, i.ion-ios-close-outline{
    display: none !important;
}

div.modal-content{
    overflow: hidden;
    div.header{
        div.input{
            overflow: hidden;
            margin: 10px 0;
            input{
                float: right;
                outline: 0;
            }
        }
        div.cropper{
            overflow: hidden;
            display: flex;
            justify-content: center;
            img-cropper{
                span.ng2-imgcrop{
                    float: left;
                    input{
                        display: none;
                    }
                }
            }
        }
        
    }
    div.buttons{
        @include button('przycisk.png', 16, 160, 50);
        display: flex;
        justify-content: center;
        button{
            margin: 1px;
            display: initial;
            &.inactive{
                color: $blackColor;
            }
        }
    }
}
