<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<div class="container">
    <div class="row">
        <div id="profile">
            <div class="headProfile">
                <a *ngIf="otherImgs?.imageUrl" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <img *ngIf="otherImgs?.imageUrl" src="{{otherImgs?.imageUrl}}" alt="" class="companyImg">
                </a>
                
                <a *ngIf="imageUrl" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <img *ngIf="imageUrl" src="{{ imageUrl }}" alt="" class="companyImg">
                </a>

                <a *ngIf="name && !otherImgs?.imageUrl" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <ng2-letter-avatar *ngIf="name && !otherImgs?.imageUrl" avatar-data='{{name}}' ></ng2-letter-avatar>
                </a>
                
                <h2>{{otherUser?.company.name}}</h2>
            </div>
            
            <md-tab-group>
                <md-tab>
                    <template md-tab-label>
                        <img src="../../meta/ic_comment_red_500_48dp.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-messages [idCompany]="idCompany"></profile-messages>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <img src="../../meta/account-card-details.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-edit [otherUser]="otherUser" (sendImage)="changeImage($event)"></profile-edit>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <img src="../../meta/ic_extension_grey_500_48dp.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-additional [otherUser] = "otherUser"></profile-additional>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <img src="../../meta/oddzialy.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-branches></profile-branches>
                    </template>
                </md-tab>

            </md-tab-group>
        </div>
    </div>
</div>

