<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<div class="container">
    <div class="row">
        <div id="profile">
            <div class="headProfile">
                <!-- <a *ngIf="otherImgs?.imageU`l" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <img *ngIf="otherImgs?.imageUrl" src="{{otherImgs?.imageUrl}}" alt="" class="companyImg">
                </a>
                
                <a *ngIf="imageUrl" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <img *ngIf="imageUrl" src="{{ imageUrl }}" alt="" class="companyImg">
                </a> -->

                <!-- <a *ngIf="name && !otherImgs?.imageUrl" [routerLink]="['/pages/company', otherUser?.company.id]">
                    <ng2-letter-avatar *ngIf="name && !otherImgs?.imageUrl" avatar-data='{{name}}' ></ng2-letter-avatar> 
                </a> -->
                    <div class="image-upload" *ngIf="name && !otherImgs?.imageUrl">
                        <ng2-letter-avatar *ngIf="name && !otherImgs?.imageUrl && !showButton" avatar-data='{{name}}'></ng2-letter-avatar> 
                        <ba-picture-uploader 
                            #fileUpload 
                            (onUploadCompleted)="onUploadCompleted($event)" 
                            [picture]="profile.picture" 
                            [defaultPicture]="defaultPicture" 
                            [uploaderOptions]="uploaderOptions"
                            [ngClass]="{chosen: (showButton), unchosen: (!showButton)}">
                        </ba-picture-uploader>
                        <button *ngIf="showButton" (click)="addCompanyImage()">dodaj</button> 
                    </div>
                     <!-- <button (click)="edytujAvatarModal()">Edytuj</button>  -->
                    <div class="image-upload" *ngIf="otherImgs?.imageUrl">
                        <ba-picture-uploader #fileUpload (beforeUpload)="beforeUpload($event)" [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
                        <button (click)="addCompanyImage()">dodaj</button> 
                    </div>
                    <div class="image-upload" *ngIf="imageUrl && !otherImgs?.imageUrl">
                        <ba-picture-uploader #fileUpload (beforeUpload)="beforeUpload($event)" [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
                        <button (click)="addCompanyImage()">dodaj</button> 
                    </div>
                    
                    <h2>{{otherUser?.company.name}}</h2>
            </div>
            
            <md-tab-group>
                <md-tab>
                    <template md-tab-label>
                        <p class="hidden-xs-down">posty</p>
                        <img src="../../meta/ic_comment_red_500_48dp.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-messages [idCompany]="idCompany"></profile-messages>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <p class="hidden-xs-down">edytuj profil</p>
                        <img src="../../meta/account-card-details.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-edit [otherUser]="otherUser" (sendImage)="changeImage($event)"></profile-edit>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <p class="hidden-xs-down">dodatkowe informacje</p>
                        <img src="../../meta/ic_extension_grey_500_48dp.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-additional [otherUser] = "otherUser"></profile-additional>
                    </template>
                </md-tab>

                <md-tab>
                    <template md-tab-label>
                        <p class="hidden-xs-down">oddziały</p>
                        <img src="../../meta/oddzialy.png" alt="">
                    </template>
                    <template md-tab-content>
                        <profile-branches></profile-branches>
                    </template>
                </md-tab>

            </md-tab-group>
        </div>
    </div>

    <div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="header">
                <div>
                     <div class="file-upload">
                    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                    </div>
                        <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
                </div>
            </div>
             <div id="buttons">
                <button (click)="confirmPhoto()">Dodaj</button>
                <button (click)="closeModal()">Anuluj</button>

            </div>
         </div>
  </div>
   
</div>
</div>

