@import '../../theme/sass/general/nouislider.scss';
@import '../../theme/sass/general/general.scss';

$topImageSize: 120px;
$bodyWrapperWidth: 640px;

div#topComp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $bodyWrapperWidth;
    @media(max-width: $bodyWrapperWidth){
        width: 96%;
    }
    background: $otherBackgroundColor;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    @media(max-width: 565px){
        flex-direction: column;
    }
    @media(min-width: 566px){
        flex-direction: row;
    }
        img{
            width: $topImageSize;
            height: $topImageSize;
        }
        h4{
            width: auto;
            font-family: $openSansFont, sans-serif;
            text-align: center;
            color: $blackColor;
            font-size: 25px;
            @media(max-width: 565px){
                margin-left: 0;
                margin-top: 10px;
            }
            @media(min-width: 566px){
                margin-left: 10px;
                margin-top: 0;
            }
            
        }
}

div#mapaFirmy{
    margin-top: 20px;
    agm-map{
        height: 300px;
    }
}

div#companyMain{
    overflow: hidden;
    font-family: $openSansFont, sans-serif;
    color: $blackColor;
    margin-top: 15px;

    @include line(2, $blackColor, 80, 10);

    h4{
        width: auto;
        font-size: 17px;
        font-weight: normal;
        text-transform: lowercase;
        color: $blackColor;
        font-family: $openSansFont, sans-serif;
    }
    i{
        color: $redColor;
    }
    div.compDiv, div.compDivD{
        margin: 10px 0;
        clear: both;
        width: 100%;
        display: flex;

        i.fa-2x{
            font-size: 1.4em;
            margin-right: 5px;
        }

        a{
            font-family: $openSansFont, sans-serif;
            font-size: 16px;
        }
        div{
            display: flex;
            width: 35%;
            margin-right: 10px;
        }
        p {
            span{
                font-family: $openSansFont, sans-serif;
                line-height: 20px;
                font-size: 15px;
                color: $blackColor;
            }
            &.opening{
                white-space: pre-wrap;
            }
            
            &.desc{
                float: none;
                line-height: 25px;
            }
        }
    }
    div.compDivD{
        width: 100%;
    }
    
}

div#messages{
    margin: auto;
    margin-top: 20px;
    @media(max-width: 565px){
        width: 96%;
    }
    @media(min-width: 566px){
        width: 96%;
    }
    @media(min-width: 768px){
        width: 486px;
    }
    div.message{
        div.message-content{
            div{
                width: 100%;
            }
        }
    }
}

@include mdTabGroup(640, company);

div.branches{
    div.branch{
        margin: 20px 0;
        h2{
            font-family: $sanchezFont, serif;
            font-size: 22px;
            margin-bottom: 5px;
        }
        p {
            span{
                font-size: 15px;
                font-family: $openSansFont, sans-serif;
            }
            margin: 0;
        }
    }
}