div.company-image{
    margin-top: 3%;
    img{
        display: block;
        margin: auto;
        // border-radius: 2500px;
        @media(max-width: 575px){
            width: 80%;
        }
        @media (min-width: 576px) {
            width: 70%;
        }
        @media (min-width: 768px) {
            width: 50%;
        }
        
    }
}
div.company-name{
    h4{
        text-align: center;
        text-transform: uppercase;
        color: gray;
        font-size: 25px;
        padding: 2% 0;
        border-bottom: 2px solid black;
        float: none;
        margin: auto;
        width: 70%;
    }
}

div#mapaFirmy{
    agm-map{
        height: 300px;
    }
}

md-tab-group{
    width: 100%;
    padding: 3% 0;
    div.md-tab-header{
        border: none !important;
        justify-content: center;
    }
    div.md-tab-label{
        background: white;
        opacity: 1 !important;
        &:focus{
            background-color: black !important;
            border: none !important;
        }
        &.md-tab-active{
            background: black;
            opacity: 1 !important;
            color: white !important;
            p{
                color: white;
            }
        }
    }
    md-ink-bar{
        color: white !important;
        background-color:black !important;
    }
}

div#companyMain{
    padding-top: 5%;
    h4{
        float: left;
        margin: 6px 0;
        text-align: left;
        width: auto;
    }
    p{
        clear: both;
        text-align: left;
    }
    i{
        float: left;
        margin-right: 1%;
    }
    div{
        clear: both;
        margin: 1% 0;
        float: left;
        a{
            display: block;
            clear: both;
        }
    }
}

div#messages{
    padding-top: 5%;
}

@media(max-width: 575px){
    md-tab-group{
        div.md-tab-header{
            justify-content: space-around;
        }
        div.md-tab-label{
            border: 2px solid black;
            min-width: 30px !important;
            height: 30px !important;
            opacity: 1 !important;
            padding: 0 !important;
            &:focus{
                background-color: black !important;
                border: none !important;
            }
            &.md-tab-active{
                background: black;
                opacity: 1 !important;
            }
        }
        md-ink-bar{
            color: white !important;
            background-color:black !important;
        }
    }
}