<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<div id="companyWhole">
        <div id="topComp">
            <div class="company-image">
                <img *ngIf="companyImages?.imageUrl" src="{{companyImages?.imageUrl}}" alt="">
                <ng2-letter-avatar *ngIf="name && !companyImages?.imageUrl" avatar-data='{{name}}'></ng2-letter-avatar>
            </div>

            <div class="company-name" *ngIf="otherOneCompany?.name">
                <h4>{{ otherOneCompany?.company.name }}</h4>
            </div>
        </div>
        

        <md-tab-group>
            <md-tab>
                <template md-tab-label>
                    <p class="hidden-md-down">Dane firmy</p>
                </template>
                <template md-tab-content>
                  <div id="companyMain">

                        <div class="compDivD">
                            <p class="desc" *ngIf="otherOneCompany?.description">{{ otherOneCompany?.description }}</p>
                        </div>

                        <div class="cLine">
                            <div></div>
                        </div>

                        <div id="adressDiv">
                            <div class="compDiv">
                                <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
                                <h4>Adres:</h4>
                                <p>
                                    <span *ngIf="otherOneCompany?.city">{{  otherOneCompany?.city }}, </span>
                                    <span *ngIf="otherOneCompany?.street">{{  otherOneCompany?.street }}, </span>
                                    <span *ngIf="otherOneCompany?.streetNo">{{  otherOneCompany?.streetNo }} </span>
                                </p>
                            </div>
                            
                            <div class="compDiv">
                                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                                <h4>Godziny otwarcia: </h4>
                                <p *ngIf="otherOneCompany?.openingHours">
                                    <span> {{ otherOneCompany?.openingHours }} </span>
                                </p>
                            </div>

                        </div>
                        
                        <div id="contactDiv">
                            <div class="compDiv">
                                <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
                                <h4>Kontakt:</h4>
                            </div>
                            
                            <div *ngIf="otherOneCompany?.website" class="compDiv">
                                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                                <h4>Strona internetowa:</h4>
                                
                                <a href="{{ otherOneCompany?.website }}" _target="blank">{{ otherOneCompany?.website }}</a>
                            </div>
                            <div *ngIf="otherOneCompany?.phoneNumber" class="compDiv">
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                <h4>Nr telefonu:</h4>
                                <p>
                                    <span>
                                        {{ otherOneCompany?.phoneNumber }}
                                    </span>
                                </p>
                            </div>
                            <div *ngIf="otherOneCompany?.email" class="compDiv">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                <h4>Email:</h4>
                                <p>
                                    <span>
                                        {{ otherOneCompany?.email }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                  </div>
                    
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label >
                    <p class="hidden-md-down">Posty</p>
                </template>
                <template md-tab-content>
                    <div class="container" id="messages">
                        <messages [dest] = "'company'" [id] = id></messages>
                    </div>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>
                    <p class="hidden-md-down">Mapa</p>
                </template>
                <template md-tab-content>
                    <div id="mapaFirmy">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </template>
            </md-tab>
        </md-tab-group>
</div>