<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <!--<ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">-->
  <ul id="al-sidebar-list" class="al-sidebar-list">
    <ba-menu-item
      [menuItem]="item"
      (itemHover)="hoverItem($event)"
      (toggleSubMenu)="toggleSubMenu($event)"
      *ngFor="let item of menuItems"></ba-menu-item>
      <div class="companyMenu" *ngIf="isLoggedIn">

          <div class="mLine"></div>

          <img id="main" *ngIf="imageUrl" src="{{ imageUrl }}" alt="">
          <ng2-letter-avatar *ngIf="name" avatar-data='{{name}}' ></ng2-letter-avatar>
          <p>{{ companyName }}</p>
          <span>{{ email }}</span>

          <ul id="userMenu">
            <li id="logout">
              <a (click)="logout()">
                <img src="../../../meta/menu_icons/forward.png" alt="">
                <span>wyloguj</span>
              </a>
            </li>
          </ul>
      </div>
       <div class="companyMenu" *ngIf="!isLoggedIn">
         <div class="mLine"></div>
         <div class="login">
            <button routerLink="/pages/login">zaloguj</button>
         </div>
         <div class="login">
            <button routerLink="/pages/register">zarejestruj</button>
         </div>
       </div>
  </ul>
  
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>