$redColor: #A20E12;
$blackColor: #263238;

@mixin checkboxMixin() {
    div.checkbox{
        width: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        float: left;
        clear: both;
        label{
            cursor: pointer;
            position: absolute;
            width: 25px;
            height: 25px;
            top: -2px;
            left: 0;
            background-image: url('../../meta/selection.png');
            background-size: 25px;
            margin: 0;
            &:after{
                opacity: 0;
                    content: '';
                    background-image: url(../../meta/checkbox-blank.png);
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    top: -5px;
                    left: -5px;
            }
            &:hover::after{
                opacity: 0;
            }
        }
        input[type=radio]:checked + label:after{
            opacity: 1;
        }
        input[type=radio]{
            opacity: 0;
        }
        span {
            position: absolute;
            left: 30px;
            top: 0px;
            width: 100px;
        }
        
      }
}

@mixin line($color, $width){
    div.lineF{
        width: $width;
        background: $color;
        height: 2px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@include line($redColor, 88%);

h4{
    color: $redColor;
    text-transform: lowercase;
    font-family: 'Sanchez', serif;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

form {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    h5{
        text-align: center;
        margin: 10px 0;
        color: $blackColor;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
    
    div#filterBy{
        @include checkboxMixin();
        display: flex;
        justify-content: space-around;
    }

    div.geolocationError{
        p{
            font-family: 'Open Sans', sans-serif;
            margin: 20px 0;
            text-align: center;
            color: $blackColor;
            font-size: 16px;
            line-height: 20px;
            span{
                font-family: 'Open Sans', sans-serif;
                color: $redColor;
            }
        }
    }

    @include line($blackColor, 70%);
}

div.favourites{
    margin: auto;
    @media(max-width: 565px){
        width: 96%;
    }
    @media(min-width: 566px){
        width: 96%;
    }
    @media(min-width: 768px){
        width: 709px;
    }
}

div.fav-messages{
    margin: auto;
    @media(min-width: 566px){
        width: 96%;
    }
    @media(min-width: 768px){
        width: 590px;
    }
}