@import '../../theme/sass/general/nouislider.scss';
@import '../../theme/sass/general/general.scss';

h4{
    color: $redColor;
    text-transform: lowercase;
    font-family: 'Sanchez', serif;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}


div.favourites{
    @include line(1, $redColor, 70%, 10);
    margin: auto;
    @media(max-width: 565px){
        width: 96%;
    }
    @media(min-width: 566px){
        width: 96%;
    }
    @media(min-width: 768px){
        width: 709px;
    }
}

form.favForm {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    h5{
        text-align: center;
        margin: 10px 0;
        color: $blackColor;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
    
    div#filterBy{
        @include checkboxMixin(radio, 0, -2);
        display: flex;
        justify-content: space-around;
    }

    div.geolocationError{
        p{
            font-family: 'Open Sans', sans-serif;
            margin: 20px 0;
            text-align: center;
            color: $blackColor;
            font-size: 16px;
            line-height: 20px;
            span{
                font-family: 'Open Sans', sans-serif;
                color: $redColor;
            }
        }
    }

    @include line(1, $blackColor, 70%, 10);
}


div.fav-messages{
    margin: auto;
    @media(min-width: 566px){
        width: 96%;
    }
    @media(min-width: 768px){
        width: 590px;
    }
}