div#activeAndEndedPosts{
    
    div.tabs{

        @media(min-width: 992px){
            width: 43%;
            margin: auto;
            margin-top: 20px;
        }
        display: flex;
        justify-content: space-around;
        font-family: 'Open Sans', sans-serif;
        div{
            border: 0 !important;
            font-size: 17px;
            background: white !important;
            cursor: pointer;
        }
        div.selected{
            border-bottom: 5px solid #A20E12 !important;
            border-top: 0 !important;
        }
    }

    div.tab-contents{
        border: 0 !important;
        width: 590px;
        margin: auto;
        margin-top: 15px;

        p.info{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-align: center;
            color: #A20E12;
        }

    }
}