<div id="activeAndEndedPosts">
    <ng2-tab selected="active" selected-index-class="selected" selected-contents-class="fadeIn animated">
        <div class="tabs">
            <div index="active">AKTYWNE</div>
            <div index="ended">ZAKOŃCZONE</div>
        </div>
        <div class="tab-contents">
            <div contents="active">
                <p class="info" *ngIf="infoA">{{ infoA }}</p>
                <messages [dest] = "'active'" *ngIf="idCompany" [id] = idCompany (sendMessagesLength)="setLength($event)"></messages>
            </div>
            <div contents="ended">
                <p class="info" *ngIf="infoE">{{ infoE }}</p>
                <messages [dest] = "'ended'" *ngIf="idCompany" [id] = idCompany (sendMessagesLength)="setLength($event)"></messages>
            </div>
        </div>
    </ng2-tab>

</div>