@import "../komunikat/komunikat.scss";

$redColor: #A20E12;
$blackColor: #263238;

@mixin checkboxMixin($checkOrRadio) {
    div.checkbox{
        @if $checkOrRadio == "radio"{
            width: 120px;
        } @else {
            width: 25px;
        }
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        float: left;
        clear: both;
        label{
            cursor: pointer;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            left: 0;
            background: white;
            border: 2px dotted $redColor;
            margin: 0;
            &:after{
                opacity: 0;
                content: '';
                position: absolute;
                width: 9px;
                height: 5px;
                background: transparent;
                top: 6px;
                left: 7px;
                border: 3px solid #333;
                border-top: none;
                border-right: none;

                transform: rotate(-45deg);
            }
            &:hover::after{
                opacity: 0;
            }
        }
        input[type=#{$checkOrRadio}]:checked + label:after{
            opacity: 1;
        }
        // @if $checkOrRadio == "radio"{
            span {
                position: absolute;
                left: 30px;
                top: 5px;
            }
        // }
      }
}

h3{
    font-family: 'Sanchez', serif;
    font-size: 20px;
    text-align: center;
    color: $redColor;
}

input.inputSearch{
    outline: 0;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px dotted $blackColor;
}

div.searchError{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    text-align: center;
    color: $redColor;
}

p.distance{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
    text-align: center;
}

p.distance2{
    color: $blackColor;
    text-align: right;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

input[type=submit].searchSubmit{
    color: $redColor;
    background: 0;
    padding: 10px;
    border: 2px dotted;
    display: block;
    margin: auto;
    width: 60%;
    outline: 0;
}

div#checkboxDiv{

    padding: 0 3%;

    div#checkboxes{
        width: 5%;
        @media(max-width: 575px){
            width: 10%;
        }
        @media (min-width: 992px){
        width: 10%;
        }
        @include checkboxMixin(checkbox);
    }

    div#checkboxesValues{
        width: 95%;
        margin-top: 10px;
        div.c{
            overflow: hidden;
            span{
            float: left;
            margin-top: 15px;
            margin-left: 5px;
            text-transform: lowercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            }
            i{
            color: $redColor;
            margin-left: 5px;
            margin-top: 10px;
            }
        }
        @include checkboxMixin(checkbox);
        @media(max-width: 575px){
            width: 90%;
        }
        @media (min-width: 992px){
        width: 90%;
        }
        label{
        display: block;
        margin-top: 5px;
        margin-bottom: 20px;
        }
    }
}

div#nouisliderDiv{
    width: 100%;
    margin: 30px 0;
    nouislider{
        width: 70%;
        margin: auto;
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .noUi-target{
        background: white !important;
        border-radius: 0 !important;
        border: 1px solid $blackColor !important;
    }
    .noUi-horizontal{
        height: 1px !important;
    }
    .noUi-horizontal .noUi-handle{
        width: 20px !important;
        height: 20px !important;
        top: -10px !important;

    }
    .noUi-handle{
        border-radius: 2500px !important;
        background: white !important;
        box-shadow: none !important;
        border: 1px solid $blackColor !important;
        &::before, &::after{
            display: none;
        }
    }
}

div#companyCategories{
        width: 85%;
        margin: auto;
        font-size: 16px;
        overflow: hidden;
        margin-top: 30px;

        div.categoriesI{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          float: left;
          .blacklineF{
            margin-top: 1%;
            margin-bottom: 1%;
            div{
                width: 100%;
            }
          }
          button{
            padding: 1.5vw;
            color: $blackColor;
            border: 0;
            border-radius: 1px;
            outline: none;
            margin-top: 6px;
            margin-bottom: 6px;
            background: white;
            text-transform: lowercase;
            //border: 3px dotted $redColor;
            img{
                width: 25px;
            }
          }
        }
        div{
          div.subcategories{
            display: flex;
            align-items: flex-start;
            float: left;
            width: 100%;
            clear: both;
            @include checkboxMixin(checkbox);
            span{
                margin: 15px;
                text-transform: lowercase;
            }
          }
          
        }
      }