<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="searchArea">
      <h4>{{ name }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        
      <div class="modal-body">

        <form [formGroup]="searchForm" (ngSubmit)="searchSubmit(searchForm.value)">
            <input type="text" id="search" formControlName="searchTerm">
            <div *ngIf="!searchForm.controls['searchTerm'].valid && searchForm.controls['searchTerm'].touched">
                Musisz wpisać frazę do wyszukania
            </div>
            <button type="submit" id="mainButton" [disabled]="!searchForm.valid">Szukaj</button>
        </form>

        <!--
        <button id="advSearch" type="button" (click)="isCollapsed = !isCollapsed">Zaawansowane szukanie</button>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
          <h5>sortuj po:</h5>

          <form id="sortForm">
              <div>
                  <input type="radio" name="sort" value="lokalizacja"> lokalizacja
              </div>
              <div>
                  <input type="radio" name="sort" value="data dodania"> data dodania
              </div>
          </form>

          <h5>odległość</h5>

          <div id="distance">
            
            <div id="mdSlider">
                <md-slider min="1" max="1000"></md-slider>
            </div>
          </div>

          <div class="blackline"></div>

          <h5>typ wiadomości</h5>
          <div id="messagesType">
            
            <ss-multiselect-dropdown [options]= "myOptionsTypeMessages" [(ngModel)] = "optionsModel" (ngModelChange)="onChange($event)" [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
            
            <div *ngFor="let op of arrayOfOptions">
              <h5>{{ op.name }}</h5>
              <ss-multiselect-dropdown [options]= "op.myOptions" [(ngModel)] = "op.optionsModel" (ngModelChange)="onChange($event)" [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>
  </div>
</div>