@import '../../theme/sass/general/general.scss';

$h1Size: 18px;
$width: 343px;
$height: 320px;

div.auth-main{
    min-height: 320px;
}

div.alert-danger{
    border: 0;
    color: $redColor;
    background: white;
    margin: 0;
    border-radius: 0;
}

div#loginFormMain{
    border: 2px solid #e0e0e0;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    -moz-box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    margin: auto;
    padding: 20px;
    width: $width;
    min-height: $height;
    background: white;
    @include margin(20, 20);

    div#loginFormBlock{
        
        h1{
            text-align: center;
            text-transform: uppercase;
            color: $redColor;
            font-size: $h1Size;
            font-family: $sanchezFont, serif;
            margin: 0;
        }
        form{
            overflow: hidden;
            margin: auto;
            div.inputForm{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: auto;
                @include margin(10,10);
                @include inputBlack(5, 15, 100);
            }
            div.actionButtons{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: lowercase;
                @include button('przycisk.png', 17, 155, 50);

                button.disabled{
                    color: $blackColor;
                }

                a{
                    @include margin(20, 20);
                    color: $blackColor;
                    font-size: 15px;
                    color: $blackColor;
                    font-family: $openSansFont, sans-serif;
                }
                
            }
        }
    }
}

