@import '../../theme/sass/auth';

$colorRed: #A20E12;
$colorBlack: #263238;

div.alert-danger{
    border: 0;
    border-bottom: 1px dotted #A20E12;
    color: #A20E12;
    background: white;
    margin: 1% 0;
    border-radius: 0;
    width: 45%;
}

div#loginFormMain{
    border: 2px solid $colorBlack;
    margin: auto;
    padding: 20px 0;
    
    div#loginFormBlock{
        h1{
            text-align: center;
            margin: 3% 0;
            text-transform: uppercase;
            color: $colorRed;
            font-size: 20px;
            font-family: 'Sanchez', serif;
        }
        form{
            overflow: hidden;
            margin: auto;
            div.inputForm{
                display: flex;
                flex-direction: column;
                margin-bottom: 2%;
                label{
                    font-size: 18px;
                    margin-right: 2%;
                }
                input{
                    width: 100%;
                    padding: 2% 0;
                    font-size: 16px;
                    outline: 0;
                    border: 0;
                    border-bottom: 1px solid $colorBlack;
                    text-transform: lowercase;
                    color: $colorBlack;
                    font-family: 'Open Sans', sans-serif;
                    &::placeholder{
                        color: $colorBlack;
                    }
                }
                
            }
            div.actionButtons{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: lowercase;
                
                button#login, a#register{
                    padding: 3%;
                    margin: 4% 0;
                    background: white;
                    color: $colorRed;
                    border: 1px dotted $colorRed;
                    font-size: 20px;
                    font-family: 'Sanchez', serif;
                }
                a#forgotPassword{
                    margin: 4% 0;
                    color: $colorBlack;
                    font-size: 15px;
                    color: $colorBlack;
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                }
                
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid gray;
  -webkit-text-fill-color: gray;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media(max-width: 575px){
    div#loginFormMain{
        
        width: 90%;
        margin-top: 15%;
        div#loginFormBlock{
            h1{
                font-size: 20px;
                margin: 8% 0;
            }
            form{
                width: 80%;
                div.actionButtons{
                    margin-top: 8%;
                    a{
                        margin: 2% 0;
                        font-size: 14px;
                    }
                    p{
                        font-size: 14px;
                        margin: 5% 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    div#loginFormMain{
        width: 70%;
        margin-top: 10%;
        div#loginFormBlock{
            h1{
                font-size: 26px;
            }
            form{
                width: 80%;
            }
        }
    }
}
@media (min-width: 768px) {
   div#loginFormMain{
        width: 60%;
        div#loginFormBlock{
            form{
                width: 70%;
            }
        }
    }
}
@media (min-width: 992px) {
    div#loginFormMain{
        width: 60%;
        div#loginFormBlock{
             form{
                width: 70%;
            }
        }
    }
}
@media (min-width: 1200px) {
    div#loginFormMain{
        width: 50%;
        margin-top: 6%;
        div#loginFormBlock{
            form{
                width: 60%;
            }
        }
    }
}