@import '../../theme/sass/general/general.scss';

div.alert-danger{
    border: 0;
    color: $redColor;
    background: white;
    margin: 1% 0;
    border-radius: 0;
}

div#loginFormMain{
    border: 2px solid #e0e0e0;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    -moz-box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    box-shadow: 2px 2px 2px 0px rgba(195,195,195,0.8);
    margin: auto;
    padding: 20px;
    width: 343px;
    min-height: 342px;
    background: white;
    @include margin(20, 20);

    div#loginFormBlock{
        
        h1{
            text-align: center;
            text-transform: uppercase;
            color: $redColor;
            font-size: 20px;
            font-family: $sanchezFont, serif;
        }
        form{
            overflow: hidden;
            margin: auto;
            div.inputForm{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: auto;
                @include margin(10,10);
                label{
                    font-size: 18px;
                    margin-right: 2%;
                }
                @include inputBlack(10, 16, 100);
                
            }
            div.actionButtons{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-transform: lowercase;
                @include button('przycisk2.png', 20, 184, 60);

                a{
                    @include margin(20, 20);
                    color: $blackColor;
                    font-size: 15px;
                    color: $blackColor;
                    font-family: $openSansFont, sans-serif;
                }
                
            }
        }
    }
}

