<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<div class="auth-main" id="loginFormMain">
  <div class="auth-block" id="loginFormBlock">
    <h1>Logowanie</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="inputForm" [ngClass]="{'has-error': (!form.controls['email'].valid && form.controls['email'].touched), 'has-success': (form.controls['email'].valid && form.controls['email'].touched)}">
        <input [formControl]="email" type="email" id="inputEmail3" placeholder="Email" [(ngModel)]="user.email">
        <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="alert alert-danger">Wpisz e-mail.</div>
      </div>
      <div class="inputForm" [ngClass]="{'has-error': (!form.controls['password'].valid && !form.controls['password'].touched), 'has-success': (!form.controls['password'].valid && !form.controls['password'].touched)}">
        <input [formControl]="password" type="password" id="inputPassword3" placeholder="Hasło" [(ngModel)]="user.password">
        <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert alert-danger">Wpisz hasło.</div>
      </div>
      <div class="actionButtons">
        <button id="login" [disabled]="!form.valid" type="submit">Zaloguj</button>
        <div *ngIf="error" class="alert alert-danger">
          {{error.error_description}}
        </div>
        <a id="forgotPassword" routerLink="/login">zapomniałem hasła</a>
        <a id="register" routerLink="/pages/register">utwórz konto</a>
      </div>
      
    </form>

  </div>
</div>