@import '../../theme/sass/general/general.scss';

.digits-button {
	width: 320px;
	margin: 30px auto 0;
	font-family: "Gotham-Medium", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 500;
	background: transparent;
	color: #00a69b;
	padding: 15px 20px 15px 60px;
	border: 3px solid #00a69b;
	border-radius: 5px;
	cursor: pointer;
	background: url(/images/digits-icon.png) 20px center no-repeat;
	background-size: 30px 35px;
	transition: box-shadow 0.3s;
}

div.alert-danger{
    border: 0;
    color: #A20E12;
    background: white;
    margin: 1% 0;
    border-radius: 0;
}

div.modal-content{

    div#buttons{
            width: 100%;
            clear: both;
            text-align: center;
            float: left;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include button('przycisk.png', 18, 108, 47);

            button {
                margin: initial;
            }
        }

    div.header {
        text-align: center;
    }
    agm-map{
        height: 500px;
    }
    div#addForm{
        @include line(1, $blackColor, 80, 10);
        @include padding(20, 20, 0, 0);

        overflow: hidden;
        div.header{
            position: relative;
            @media(max-width: 565px){
                margin-top: 10px;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 30px;
                    color: $redColor;
                }
                h3{
                    width: auto;
                    color: $redColor;
                    font-size: 25px;
                    font-weight: normal;
                    text-transform: lowercase;
                    font-family: $sanchezFont, serif;
                    margin-right: 10px;
                }
            }

            @include button('close-circle-outline.png', 0, 30, 30);
            button.header-button{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 1;
                text-align: right;
                margin-right: 10px;
            }
        }
        
        div.date{
            margin-top: 5px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(max-width: 565px){
                width: 100%;
            }
            @media (min-width: 566px){
                width: 50%;
            }
            img{
                cursor: pointer;
                width: 43px;
            }
            div.text{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include pElement(16, 5, left, center);
            }
        }

        div.content{
            width: 100%;
            clear: both;
            
            @include pElement(15, 0, right, right);
            p{
                margin-right: 10%;
            }
            textarea{
                margin: auto;
                display: block;
                width: 80%;
                text-align: center;
                color: $blackColor;
                outline: 0;
                font-family: $openSansFont, sans-serif;
                cursor: text;
                min-height: 75px;
                border: 0;
            }
        }
        
        
        
        div.odzialFirmy{

            div.chosenBranches{
                span{
                    color: $redColor;
                }
            }
            
            div.dropdown{
                text-align: center;
                
                @include button('oddzialy.png', 0, 53, 53);
                button{
                    @media(max-width: 565px){
                        margin-left: 18px !important;
                    } 
                    @media(min-width: 566px){
                        margin: 0 !important;    
                    }

                    text-indent: -9999em;
                    span{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                }
            }
            ul {
                min-width: 240px;
                border: 1px solid $blackColor;
                border-radius: 0;
                left: 20%;
                @media(max-width: 565px){
                    top: -230px;
                }
                @media(min-width: 566px){
                    top: -230px;
                    left: -150px;
                }
                li {
                    text-align: center;
                    &:hover{
                        background: none;
                    }
                    a {
                        color: $blackColor;
                        font-size: 16px;
                        padding: 5px 0;
                        display: block;
                    }
                }
            }
        }
    }
    
}

div#registerFormMain{

	@media(max-width: 565px){
		width: 84%;
	}
	@media (min-width: 566px){
		width: 60%;
	}

	@media (min-width: 768px) {
		width: 65%;
	}

	@media(min-width: 992px){
		width: 872px;
	}

    margin: auto;
    margin-top: 20px;

	h1 {
		text-align: center;
		color: $redColor;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $sanchezFont, serif;
		@include margin(10, 10);
	}

	form{
		margin: auto;
		@include inputBlack(10, 16, 50);
		@include line(2, $redColor, 100, 20);

		input{
			@media(max-width: 565px){
				width: 90%;
			}
			padding-left: 20px;
		}
		select {
			width: 100%;
			@include padding(10, 10, 25, 0);
			outline: 0;
			text-transform: lowercase;
			border: 0;
			border-bottom: 1px solid $blackColor;
			color: $blackColor;
			margin: auto;
			display: block;
			font-family: $openSansFont, sans-serif;
			option{
				@include padding(10, 10, 0, 0);
			}
		}
		div.formRegDiv {
			@include margin(10, 10);
			
			span{
				color: $redColor;
				font-size: 15px;
				display: block;
				text-align: center;
				@include margin(20, 20);
			}
		}
		div.buttons{
			display: flex;
			justify-content: center;
			align-items: center;
			@include button('przycisk.png', 16, 160, 50);
		}

		div#address{
			display: flex;
			clear: both;
			width: 100%;

			@media(max-width: 565px){
				flex-wrap: wrap;
			}
			@media(min-width: 566px){
				justify-content: space-around;
			}

			input#city{
				@media(max-width: 565px){
					width: 100%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#street{
				@media(max-width: 565px){
					width: 79%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#streetNo{
				@media(max-width: 565px){
					width: 19%;
				}
				@media(min-width: 566px){
					width: 15%;
				}
			}
		}
		
	}
}