@import '../../theme/sass/general/general.scss';

.digits-button {
	width: 320px;
	margin: 30px auto 0;
	font-family: "Gotham-Medium", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 500;
	background: transparent;
	color: #00a69b;
	padding: 15px 20px 15px 60px;
	border: 3px solid #00a69b;
	border-radius: 5px;
	cursor: pointer;
	background: url(/images/digits-icon.png) 20px center no-repeat;
	background-size: 30px 35px;
	transition: box-shadow 0.3s;
}

div.alert-danger{
    border: 0;
    color: #A20E12;
    background: white;
    margin: 1% 0;
    border-radius: 0;
}

div#registerFormMain{

	@media(max-width: 565px){
		width: 84%;
	}
	@media (min-width: 566px){
		width: 60%;
	}

	@media (min-width: 768px) {
		width: 65%;
	}

	@media(min-width: 992px){
		width: 872px;
	}

    margin: auto;
    margin-top: 20px;

	h1 {
		text-align: center;
		color: $redColor;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $sanchezFont, serif;
		@include margin(10, 10);
	}

	form{
		margin: auto;
		@include inputBlack(10, 16, 50);
		@include line(2, $redColor, 100, 20);

		input{
			@media(max-width: 565px){
				width: 90%;
			}
			padding-left: 20px;
		}
		select {
			width: 100%;
			@include padding(10, 10, 25, 0);
			outline: 0;
			text-transform: lowercase;
			border: 0;
			border-bottom: 1px solid $blackColor;
			color: $blackColor;
			margin: auto;
			display: block;
			font-family: $openSansFont, sans-serif;
			option{
				@include padding(10, 10, 0, 0);
			}
		}
		div.formRegDiv {
			@include margin(10, 10);
			
			span{
				color: $redColor;
				font-size: 15px;
				display: block;
				text-align: center;
				@include margin(20, 20);
			}
		}
		div.buttons{
			display: flex;
			justify-content: center;
			align-items: center;
			@include button('przycisk.png', 16, 160, 50);
		}

		div#address{
			display: flex;
			clear: both;
			width: 100%;

			@media(max-width: 565px){
				flex-wrap: wrap;
			}
			@media(min-width: 566px){
				justify-content: space-around;
			}

			input#city{
				@media(max-width: 565px){
					width: 100%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#street{
				@media(max-width: 565px){
					width: 79%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#streetNo{
				@media(max-width: 565px){
					width: 19%;
				}
				@media(min-width: 566px){
					width: 15%;
				}
			}
		}
		
	}
}