<!DOCTYPE html>
<html>
	<body>

		<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

		<div id="registerFormMain">
			<h1>Rejestracja</h1>

			<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
				
				<div class="formRegDiv" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
					<input [formControl]="email" type="email" [(ngModel)]="user.email" placeholder="Email">
				</div>

				<div class="formRegDiv" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
					<input [formControl]="password" type="password" [(ngModel)]="user.password" placeholder="Hasło">
				</div>

				<div class="formRegDiv" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
					<input [formControl]="repeatPassword" type="password" placeholder="Powtórz">
					<span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)">Hasła są niezgodne</span>
				</div>

				<div [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}" class="formRegDiv">
					<input [formControl]="name" type="text" [(ngModel)]="user.name" placeholder="Nazwa firmy">
				</div>

				<div class="line"><div></div></div>

				<div class="formRegDiv" id="address">
					<input id="city" [formControl]="name" type="text" placeholder="Miasto" [(ngModel)]="company.city">
					<input id="street" [formControl]="name" type="text" placeholder="Ulica" [(ngModel)]="company.street" >
					<input id="streetNo" [formControl]="name" type="number" min="0" placeholder="Nr" [(ngModel)]="company.streetNo">
				</div>

				<div class="line"><div></div></div>

				<div class="formRegDiv">
					<div class="dropdown select">
						<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 1" src="../../meta/menu_icons/kultura_i_rozrywka.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 2" src="../../meta/menu_icons/gastronomia_i_nocne_zycie.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 3" src="../../meta/menu_icons/zakupy_male.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 4" src="../../meta/menu_icons/zakupy_duze.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 5" src="../../meta/menu_icons/uslugi_dla_ciala.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 6" src="../../meta/menu_icons/uslugi_inne.png">
						<img *ngIf="selectedParentKategoria && selectedParentKategoria.id === 7" src="../../meta/menu_icons/sport_i_turystyka.png">
						<span *ngIf="!selectedParentKategoria">wybierz branżę</span>
						<span *ngIf="selectedParentKategoria">{{selectedParentKategoria.name}}</span>

						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<div (click)="selectedParentKategoria=null; podKategorie = {};">-</div>
							<div *ngFor="let kategoria of kategorieGlowne" (click)="setSelectKategoryName(kategoria.name, kategoria.id)">
								<img *ngIf="kategoria.id === 1" src="../../meta/menu_icons/kultura_i_rozrywka.png">
								<img *ngIf="kategoria.id === 2" src="../../meta/menu_icons/gastronomia_i_nocne_zycie.png">
								<img *ngIf="kategoria.id === 3" src="../../meta/menu_icons/zakupy_male.png">
								<img *ngIf="kategoria.id === 4" src="../../meta/menu_icons/zakupy_duze.png">
								<img *ngIf="kategoria.id === 5" src="../../meta/menu_icons/uslugi_dla_ciala.png">
								<img *ngIf="kategoria.id === 6" src="../../meta/menu_icons/uslugi_inne.png">
								<img *ngIf="kategoria.id === 7" src="../../meta/menu_icons/sport_i_turystyka.png">
								<span>{{kategoria.name}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="formRegDiv" *ngIf="podKategorie.length>0">
					<div class="dropdown select">
						<button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span *ngIf="!selectedKategoria">wybierz kategorię</span>
						<span *ngIf="selectedKategoria">{{selectedKategoria.name}}</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
							<div class="dropdownElement" (click)="selectedKategoria=null">-</div>
							<div class="dropdownElement" *ngFor="let kategoria of podKategorie">
								<p class="dropdown-item" (click)="setSelectPodKategoryName(kategoria.name, kategoria.id)">{{kategoria.name}}</p>
							</div>
						</div>
					</div>
				</div>

				
				<div [ngBusy]="{busy: busy, message: 'Czekaj...', backdrop: false, delay: 200, minDuration: 600}"></div>
				<div class="buttons">
					<button [ngClass]="{valid: (form.valid), invalid: (!form.valid)}" [disabled]="!form.valid" type="submit">utwórz konto</button>
				</div>

			</form>
		</div>
		<div *ngIf="error">
			{{error}}
		</div>

		<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static', keyboard: false}">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="header">Podałeś błędny adres, wskaż go na mapie</div>
					
					<div>
						<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom"
							[disableDefaultUI]="false"
							[zoomControl]="true">
							<agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
							<agm-info-window>
								<strong>InfoWindow content</strong>
							</agm-info-window>
						</agm-map>
						<p>{{localization}}</p>
					</div>

					<div id="buttons">
						<button (click)="confirmMap()">Dodaj</button>
						<button (click)="closeModal()">Anuluj</button>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>