<!DOCTYPE html>
<html>
<body>

<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<div class="auth-main" id="registerFormMain">
  <div class="auth-block" id="registerFormBlock">
    <h1>Rejestracja</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="formRegDiv" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
          <input [formControl]="email" type="email" [(ngModel)]="user.email" placeholder="Email">
      </div>
      <div class="formRegDiv" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <input [formControl]="password" type="password" [(ngModel)]="user.password" placeholder="Hasło">
      </div>
      <div class="formRegDiv" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
          <input [formControl]="repeatPassword" type="password" placeholder="Powtórz">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)">Hasła są niezgodne</span>
      </div>
      <div [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}" class="formRegDiv">
          <input [formControl]="name" type="text" [(ngModel)]="user.name" placeholder="Nazwa firmy">
      </div>
      
      <div class="blackline"></div>

      <div class="formRegDiv" id="address">
          <input id="city" [formControl]="name" type="text" placeholder="Miasto" [(ngModel)]="company.city">
          <input id="street" [formControl]="name" type="text" placeholder="Ulica" [(ngModel)]="company.street" >
          <input id="streetNo" [formControl]="name" type="number" min="0" placeholder="Nr" [(ngModel)]="company.streetNo">
      </div>

      <div class="blackline"></div>

      <!--<div class="formRegDiv">
        <input type="radio" name="" value="lokalizacja"> lokalizacja
      </div>-->

      <div class="formRegDiv" >
          <select  [formControl]="name" [(ngModel)]="selectedParentKategoria" (ngModelChange)="changePodkategorie()" >
            <option *ngFor="let kategoria of kategorieGlowne" [ngValue]="kategoria">{{kategoria.name}}</option>
          </select>
      </div>
      <div class="formRegDiv">
          <select  [formControl]="name" [(ngModel)]="selectedKategoria" >
            <option *ngFor="let kategoria of podKategorie" [ngValue]="kategoria">{{kategoria.name}}</option>
          </select>
      </div>
      
      <div [ngBusy]="{busy: busy, message: 'Czekaj...', backdrop: false, delay: 200, minDuration: 600}"></div>
      <div class="buttons">
        <button [disabled]="!form.valid" type="submit">utwórz konto</button>
        <a routerLink="/pages/login">zaloguj</a>
      </div>
      
    </form>
  </div>
</div>

</body>
</html>