@import '../../theme/sass/general/general.scss';

.digits-button {
	width: 320px;
	margin: 30px auto 0;
	font-family: "Gotham-Medium", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 500;
	background: transparent;
	color: #00a69b;
	padding: 15px 20px 15px 60px;
	border: 3px solid #00a69b;
	border-radius: 5px;
	cursor: pointer;
	background: url(/images/digits-icon.png) 20px center no-repeat;
	background-size: 30px 35px;
	transition: box-shadow 0.3s;
}

div.alert-danger{
    border: 0;
    color: #A20E12;
    background: white;
    margin: 1% 0;
    border-radius: 0;
}
div.sms-content{
    margin: auto;
    width: 50%;
    padding: 10px;
}

div.modal-content{
    overflow: hidden;
    div#buttons{
        width: 100%;
        clear: both;
        text-align: center;
        float: left;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include button('przycisk.png', 18, 108, 47);
        button {
            margin: initial;
        }
    }

    div.header, p {
        text-align: center;
        font-family: $openSansFont, sans-serif;
        font-size: 16px;
        margin: 10px 0;
    }
    agm-map{
        height: 500px;
    }
    
}

div#registerFormMain{

    margin: auto;
    @media(max-width: 565px){
        width: 90%;
    }
    @media(min-width: 566px){
        width: 86%;
    }
    @media(min-width: 768px){
        width: 82%;
    }
    @media(min-width: 992px){
        width: 45%;
    }

	h1 {
		text-align: center;
		color: $redColor;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $sanchezFont, serif;
		@include margin(10, 10);
	}

	form{
		margin: auto;
		@include inputBlack(5, 16, 50);
		@include line(2, $redColor, 100, 10);

		input{
			@media(max-width: 565px){
				width: 90%;
            }
            padding-left: 20px;
            
		}
		div.formRegDiv {
            clear: both;
            display: flex;
            justify-content: center;

            div.dropdown-menu{
                min-width: 280px;
                div{
                    overflow: hidden;
                    clear: both;
                    cursor: pointer;
                    margin: 5px;
                    img{
                        width: 25px;
                        float: left;
                    }
                    span{
                        font-family: $openSansFont, sans-serif;
                        margin: 0;
                        display: initial;
                        color: $blackColor;
                        float: left;
                        margin-left: 10px;
                        font-size: 17px;
                    }
                }
            }

            div.select{
                float: left;
                button{
                    background: 0;
                    border: 1px solid $blackColor;
                    border-radius: 2px;
                    margin: auto;
                    padding: 10px;
                    &::after{
                        float: right;
                        margin-top: 10px;
                    }
                    span{
                        font-family: $openSansFont, sans-serif;
                        margin: 0;
                        display: initial;
                        color: $blackColor;
                        float: left;
                        margin-left: 10px;
                        font-size: 17px;
                    }
                    img{
                        width: 25px;
                        float: left;
                    }

                }
                clear: both;
            }
            @include margin(5, 5);
			span{
				color: $redColor;
				font-size: 15px;
				display: block;
				text-align: center;
				@include margin(20, 20);
			}
		}
		div.buttons{
            clear: both;
			display: flex;
			justify-content: center;
			align-items: center;
            @include button('przycisk.png', 16, 160, 50);
            button.invalid{
                color: $blackColor;
            }
            button.invalid{
                color: $blackColor;
            }
		}

		div#address{
			display: flex;
			clear: both;
			width: 100%;
			@media(max-width: 565px){
				flex-wrap: wrap;
			}
			@media(min-width: 566px){
				justify-content: space-around;
			}

			input#city{
				@media(max-width: 565px){
					width: 100%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#street{
				@media(max-width: 565px){
					width: 79%;
				}
				@media(min-width: 566px){
					width: 38%;
				}
			}
			input#streetNo{
				@media(max-width: 565px){
					width: 19%;
				}
				@media(min-width: 566px){
					width: 15%;
				}
			}
		}
	}
}