@import '../../theme/sass/general/general.scss';

div.checkBoxDiv{
    overflow: hidden;
    @include margin(10, 10);
    @include checkboxMixin(checkbox, 0, -2);
    span{
        color: $blackColor;
        margin-left: 5px;
    }
}

div.modal-content{
    div#addForm{
        @include line(1, $blackColor, 80, 10);
        @include padding(20, 20, 0, 0);

        overflow: hidden;
        div.header{
            position: relative;
            @media(max-width: 565px){
                margin-top: 10px;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 30px;
                    color: $redColor;
                }
                h3{
                    width: auto;
                    color: $redColor;
                    font-size: 25px;
                    font-weight: normal;
                    text-transform: lowercase;
                    font-family: $sanchezFont, serif;
                    margin-right: 10px;
                }
            }

            @include button('close-circle-outline.png', 0, 30, 30);
            button.header-button{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 1;
                text-align: right;
                margin-right: 10px;
            }
        }
        
        div.date{
            margin-top: 5px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(max-width: 565px){
                width: 100%;
            }
            @media (min-width: 566px){
                width: 50%;
            }
            img{
                cursor: pointer;
                width: 35px;
            }
            div.text{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include pElement(16, 5, left, center);
            }
        }

        div.content{
            width: 100%;
            clear: both;
            
            @include pElement(15, 0, right, right);
            p{
                margin-right: 10%;
            }
            textarea{
                margin: auto;
                display: block;
                width: 80%;
                text-align: center;
                color: $blackColor;
                outline: 0;
                font-family: $openSansFont, sans-serif;
                cursor: text;
                min-height: 75px;
                border: 0;
            }
        }
        
        div#buttons{
            width: 100%;
            clear: both;
            text-align: center;
            float: left;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include button('przycisk.png', 18, 108, 47);

            button {
                margin: initial;
            }
        }
        
        div.odzialFirmy{

            div.chosenBranches{
                span{
                    color: $redColor;
                }
            }
            
            div.dropdown{
                text-align: center;
                
                @include button('oddzialy.png', 0, 53, 53);
                button{
                    @media(max-width: 565px){
                        margin-left: 18px !important;
                    } 
                    @media(min-width: 566px){
                        margin: 0 !important;    
                    }

                    text-indent: -9999em;
                    span{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                }
            }
            ul {
                min-width: 240px;
                border: 1px solid $blackColor;
                border-radius: 0;
                left: 20%;
                @media(max-width: 565px){
                    top: -230px;
                }
                @media(min-width: 566px){
                    top: -230px;
                    left: -150px;
                }
                li {
                    text-align: center;
                    &:hover{
                        background: none;
                    }
                    a {
                        color: $blackColor;
                        font-size: 16px;
                        padding: 5px 0;
                        display: block;
                    }
                }
            }
        }
    }
    
}

div.daterangepicker {
    left: 5% !important;
    right: 2% !important;
    width: 90% !important;
    z-index: 1051;
    @media(min-width: 992px){
        left: 45% !important;
        width: 30% !important;
    }
    
    button.btn-success, button.btn-default {
        background: white !important;
        border: 1px solid $blackColor !important;
        color: $blackColor;
        border-radius: 0;
    }
}

div#addPhoto, div#addLocalization div.iconAndP, div.odzialFirmy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 565px){
        flex-direction: row;
    }
    @media(min-width: 566px){
        flex-direction: column;
    }
    
    width: 100%;
}

div.iconAndP, div.odzialFirmy{
    img {
        @media(max-width: 565px){
            margin-left: 8px;
        }
        
        cursor: pointer;
    }
    button{
        @media(max-width: 565px){
            margin-left: 18px;
        }
    }
}

div.collapse{
    clear: both;
    
    agm-map{
        height: 200px;
    }
    @include pElement(10, 10, none, center);
}

div#addPhoto, div#addLocalization, div.odzialFirmy{
    float: left;
    @media(max-width: 565px){
        width: 100%;
    }
    @media(min-width: 566px){
        width: (100%/3);
    }
    .picture-group{
        border: 0;
        width: auto;
        height: auto;
        a.change-picture{
            display: none;
        }
        .picture-wrapper{
            width: auto;
            height: auto;
            overflow: auto;
            display: block;
        }
    }
    .ion-ios-close-outline{
        display: none !important;
    }
    img{
        width: 35px;
        height: 35px;
    }
    @include pElement(15, 5, none, center);
    p {
        line-height: 25px;
        padding: 0 2px;
    }
    
    div.checkBoxDiv{
        display: flex;
        justify-content: center;
    }
}

.modal-dialog{
    @media (max-width: 565px){
        margin: 10px;
    }
}

.modal-body{
    padding: 0 !important;
}

.modal-lg{
    @media(min-width: 544px){
        max-width: 450px;
        margin: 12px auto;
    }
}