<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" backdrop="false" keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <div id="addForm">
            
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>

            <h3 [ngSwitch]="paramValue">
              <span *ngSwitchCase="'message_id'">Edytuj komunikat</span>
              <span *ngSwitchCase="'message_type'">Dodaj komunikat</span>
              <!--Dodaj komunikat: {{ paramValue }}  -->
            </h3>
            
            <p [ngSwitch]="paramValue">
              <span *ngSwitchCase="'message_type'">Typ: {{ messageTypeValue }}</span>
              <!--<span *ngSwitchCase="'message_id'">Typ: {{ messageTypeValue }}</span>-->
            </p>

            <!--data picker-->
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            <p>od: </p>
            <input daterangepicker (selected)="selectStartDate($event)" [options]="pickerOptions" type="submit"/>
            <div class="blackline"></div>
            <p>do: (jeśli nie chcesz daty zakończenia to zaznacz checkbox) </p>
            <input type="checkbox" (change)="addprop()">
            <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
              <input daterangepicker (selected)="selectEndDate($event)" [options]="pickerOptions" type="submit" />
            </div>
            
            <div class="blackline"></div>

            <div id="addPhoto">
              <p>dodaj zdjęcie: </p>
              <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
            </div>
            
            <div id="addLocalization">
              <p>dodaj lokalizację: </p>
              <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
            </div>


            <p>Dodaj treść komunikatu</p>
            <textarea type="text" placeholder="Dodaj treść komunikatu" [(ngModel)]="msgAddModel.content"></textarea>
            
            <!-- add image-->

            <!-- select type -->
            <div id="buttons">
              <button (click)="addMessage()">Dodaj</button>
              <button>Anuluj</button>
            </div>
            

        </div>

      <div class="modal-body">
      </div>
    </div>
  </div>
</div>