<h4 (click)="isFiltryCollapse = !isFiltryCollapse"  *ngIf="isFiltryCollapse">
    filtry
</h4>
<h4 *ngIf="!isFiltryCollapse">filtry</h4>
<i class="fa fa-window-close fa-2x" *ngIf="!isFiltryCollapse" (click)="isFiltryCollapse = !isFiltryCollapse"></i>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isFiltryCollapse">

    <form [formGroup]="filterForm" novalidate id="mainForm">
         
        <h5>sortuj po:</h5>
        
        <div class="filterBy">
            <input type="radio" name="filterBy" value="DISTANCE" formControlName="filterBy"> lokalizacja
        </div>

        <div class="filterBy">
            <input type="radio" name="filterBy" value="CREATE_DATE" formControlName="filterBy"> data dodania
        </div>

        <h5>Lokalizacja</h5>

        <input id="searchLocation" placeholder="miasto" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search formControlName="searchControl">
        
        <!--<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>-->
        
        <h5>odległość</h5>
        <nouislider [min]="0" [max]="14" [step]="0.05" [(ngModel)]="someValue" formControlName = "distance"></nouislider>
        <p id="distance">Odległośc: {{ someValue }}</p>

        <h5>typ wiadomości</h5>

        <div id="checkboxes">
            <md-checkbox *ngFor="let control of filterForm.controls['types'].controls" [formControl]="control"></md-checkbox>
        </div>
        <div id="checkboxesValues">
            <label *ngFor="let messageType of messageTypesOb">{{messageType.value}}</label>
        </div>

        <div id="trades">
            <h3>Branża</h3>
        </div>

        <div id="companyCategories">
            <!--<div *ngFor="let trade of trades.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
            </div>-->
            <!--<div *ngFor="let category of categories; let i = index">-->
                <div formArrayName="trades" class="tradesI">
                    <md-checkbox *ngFor="let trade of trades.controls; let i = index" class="categoryMain" [formControlName]="i"></md-checkbox>
                </div>
                <div class="categoriesI" *ngFor="let category of categories">
                    <button type="button" (click)="category.bol = !category.bol">{{ category.name }}</button>
                    <!--<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="category.bol" [formGroup]="subtrades">
                        <input type="checkbox" *ngFor="let subtrade of filterForm.controls['sub'+i].controls" [formControl]="subtrade">
                    </div>-->
                </div>
                
                <!--<md-checkbox class="categoryMain" [formControl]="filterForm.controls['trades'].controls[i]"></md-checkbox>-->
                <!--<button type="button" (click)="category.bol = !category.bol">{{ category.name }}</button>-->
                <!--<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="category.bol">
                    <div class="subcategories">
                        <md-checkbox *ngFor="let subtrade of filterForm.controls['subtrades'+(i+1)].controls" [formControl]="subtrade"></md-checkbox>
                    </div>
                    <div class="subcategoriesValues">
                        <label *ngFor="let subc of category.subcategories">{{subc.name}}</label>
                    </div>
                </div>-->
            <!--</div>-->
        </div>

    </form>

</div>