@import "../komunikat/komunikat.scss";
$redColor: #A20E12;
$blackColor: #263238;

@mixin checkboxMixin {
    div.checkbox{
          width: 25px;
          margin-bottom: 10px;
          margin-top: 10px;
          position: relative;
          float: left;
          clear: both;
          label{
              cursor: pointer;
              position: absolute;
              width: 25px;
              height: 25px;
              top: 0;
              left: 0;
              background: white;
              border: 2px dotted $redColor;
              margin: 0;
              &:after{
                  opacity: 0;
                  content: '';
                  position: absolute;
                  width: 9px;
                  height: 5px;
                  background: transparent;
                  top: 6px;
                  left: 7px;
                  border: 3px solid #333;
                  border-top: none;
                  border-right: none;

                  transform: rotate(-45deg);
              }
              &:hover::after{
                  opacity: 0;
              }
          }
          input[type=checkbox]:checked + label:after{
              opacity: 1;
          }
      }
}

@mixin radioButton {}

div#head{
    overflow: hidden;
    h4{
      float: left;
      cursor: pointer;
      width: 90%;
      text-align: center;
      color: $redColor;
      margin: 5px 0;
      font-weight: normal;
      font-size: 20px;
    }
    i{
      width: 10%;
      cursor: pointer;
      float: right;
    }
    div.line{
        clear: both;
        float: left;
        width: 100%;
        div{
            display: block;
            width: 94%;
            margin: 0 auto;
            height: 2px;
            background: $redColor;
        }
    }
}

form#mainForm{
    
    h5{
      font-family: 'Open Sans', sans-serif;
      margin: 4% 0;
      color: $blackColor;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      text-transform: lowercase;
    }

    div.ifActive{
      overflow: hidden;
      text-align: center;
      @include checkboxMixin;
      span{
          float: left;
          margin-top: 15px;
          margin-left: 10px;
          color: $blackColor;
      }
    }

    div.filterBy{
      display: flex;
      justify-content: center;
      color: $blackColor;
      div{
          width: 50%;
          text-align: center;
      }
    }

    div#nouisliderDiv{
        width: 100%;
        nouislider{
          width: 85%;
          margin: auto;
          margin-top: 6%;
          margin-bottom: 6%;
        }
    }

    input#searchLocation{
        display: block;
        width: 70%;
        margin: auto;
        padding: 8px;
        text-align: center;
        border: 1px dotted $redColor;
        border-radius: 2px;
        outline: 0;
        color: $blackColor;
    }

    div#checkboxDiv{
        display: flex;
        justify-content: space-around;
        div#checkboxes{
          width: 5%;
          @media(max-width: 575px){
              width: 10%;
          }
          @media (min-width: 992px){
            width: 10%;
          }
          @include checkboxMixin;
        }

        div#checkboxesValues{
          width: 95%;
          margin-top: 10px;
          @media(max-width: 575px){
              width: 90%;
          }
          @media (min-width: 992px){
            width: 90%;
          }
          label{
            display: block;
            margin-top: 5px;
            margin-bottom: 20px;
          }
        }
    }

    
    p#distance{
      clear: both;
      color: $blackColor;
      float: left;
      width: 100%;
      margin: 1% 0;
    }

    div#companyCategories{
        width: 100%;
        margin: auto;
        font-size: 16px;
        overflow: hidden;

        div.categoriesI{
          width: 100%;
          display: flex;
          flex-direction: column;
          float: left;
          button{
            padding: 1.5vw;
            color: black;
            border: 0;
            border-radius: 1px;
            outline: none;
            margin-top: 6px;
            margin-bottom: 6px;
          }
        }
        div{
          div.subcategories{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 10%;
            float: left;
            @include checkboxMixin;
          }
          div.subcategoriesValues{
            width: 90%;
            float: right;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            label {
                margin-bottom: 22px;
            }
          }
          
        }
      }
      @media(max-width: 575px){
          padding: 0 4%;
      }
}

div.blacklineF{
    div{
        width: 80%;
        margin: auto;
        height: 2px;
        background: black;  
    }
    
    margin-top: 4%;
    margin-bottom: 4%;
    clear: both;
    float: left;
    width: 100%;
}