
    h4{
      cursor: pointer;
      width: 90%;
      float: left;
      padding: 2% 0;
      @media (min-width: 576px){
        padding: 0;
        margin: 0;
      }
    }
    i{
        float: right;
        width: 10%;
        cursor: pointer;
        
      }
    h4, h5{
      color: #95989A;
      text-align: center;
    }
    form#sortForm {
      display: flex;
      justify-content: space-around;
      color: #95989A;
    }

    h3{
      width: 60%;
      margin: auto;
      text-align: center;
      color: #95989A;
      padding-bottom: 3%;
    }

    div.blackLine{
      width: 60%;
      margin: auto;
      height: 2px;
      background: black;
      margin-top: 4%;
      margin-bottom: 4%;
    }

div#checkboxes{
  width: 5%;
  float: left;
  @media(max-width: 575px){
      width: 10%;
  }
  md-checkbox{
    display: block;
    label{
      margin: 0;
    }
  }
}

div#checkboxesValues{
  width: 95%;
  float: right;
  
  @media(max-width: 575px){
      width: 90%;
  }
  label{
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
    @media(max-width: 575px){
      
    }
  }
}

form#mainForm{
  nouislider{
    width: 85%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  div.filterBy{
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
  }

  h5{
    clear: both;
    margin-top: 6%;
  }
}