<h4 (click)="isFiltryCollapse = !isFiltryCollapse"  *ngIf="isFiltryCollapse">
    filtry
</h4>
<h4 *ngIf="!isFiltryCollapse">filtry</h4>
<i class="fa fa-window-close fa-2x" *ngIf="!isFiltryCollapse" (click)="isFiltryCollapse = !isFiltryCollapse"></i>

<div [collapse]="isFiltryCollapse">

    <form [formGroup]="filterForm" novalidate id="mainForm">
         
        <h5>sortuj po:</h5>
        
        <div class="filterBy">
            <input type="radio" name="filterBy" value="DISTANCE" formControlName="filterBy"> lokalizacja
        </div>

        <div class="filterBy">
            <input type="radio" name="filterBy" value="CREATE_DATE" formControlName="filterBy" checked> data dodania
        </div>

        <div class="filterBy">
            <input type="radio" name="filterBy" value="ACTIVE" formControlName="filterBy"> aktywne posty
        </div>

        <h5>Lokalizacja</h5>

        <input id="searchLocation" placeholder="miasto" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search formControlName="searchControl">
        
        <!--<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>-->
        
        <h5>odległość</h5>
        <nouislider [min]="0" [max]="14" [step]="0.05" [(ngModel)]="someValue" formControlName = "distance"></nouislider>
        <p id="distance">Odległośc: {{ someValue }}</p>

        <h5>typ wiadomości</h5>

        <div id="checkboxes">
            <md-checkbox *ngFor="let control of filterForm.controls['types'].controls" [formControl]="control"></md-checkbox>
        </div>
        <div id="checkboxesValues">
            <label *ngFor="let messageType of messageTypesOb">{{messageType.value}}</label>
        </div>

        <div id="trades" *ngIf="id === undefined">
            <h3>Branża</h3>
        </div>

        <div id="companyCategories" *ngIf="id === undefined">
            <div class="categoriesI" *ngFor="let category of categories; let i = index">
                <button type="button" (click)="category.bol = !category.bol; setTrade(category.id)">{{ category.name }}</button>
                <div [collapse]="category.bol">
                    <div class="subcategories" [formGroup]="subtrades">
                        <md-checkbox *ngFor="let subtrade of subtrades.controls['subtrade'+(i+1)].controls" [formControl]="subtrade"></md-checkbox>
                    </div>
                    <div class="subcategoriesValues">
                        <label *ngFor="let subc of category.subcategories">{{subc.name}}</label>
                        <!--<label *ngFor="let subc of categories[i].subcategories">{{subc.name}}</label>-->
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>