@import '../../theme/sass/general/nouislider.scss';
@import '../../theme/sass/general/general.scss';

div#filterInside{
	
    width: 375px;
    margin: auto;
    @media(min-width: 992px){
        width: 315px;
	}
	
	div#head{
		overflow: hidden;
		h4{
			float: left;
			cursor: pointer;
			width: 90%;
			text-align: center;
			color: $redColor;
			margin: 5px 0;
			font-weight: normal;
			font-size: 20px;
		}
		img{
			width: 30px;
			height: 30px;
			cursor: pointer;
			float: right;
		}
	}

	form#mainForm{
		@include line(1, $blackColor, 94, 10);
		overflow: hidden;
		margin: auto;
		width: 90%;
		div.geolocationError{
			@include pElement(16, 10, none, center);
			clear: both;
			p{
				font-size: 13px;
				margin-left: 10px;
				margin-right: 10px;
				line-height: 23px;
				float: left;
    			clear: both;
				span{
					font-family: $openSansFont, sans-serif;
					color: $redColor;
				}
			}
		}

		h5{
			font-family: $openSansFont, sans-serif;
			margin: 10px 0;
			color: $blackColor;
			text-align: center;
			font-weight: normal;
			font-size: 16px;
			text-transform: lowercase;
			float: left;
			font-weight: bold;
		}

		div.ifActive{
			overflow: hidden;
			text-align: center;
			padding-left: 4%;
			display: flex;
			justify-content: center;
			@include checkboxMixin(checkbox, 0, -2);
		
			label.newLabel{
				float: left;
				margin-top: 3px;
				margin-left: 5px;
				color: $blackColor;
				cursor: pointer;
			}
		}

		div.filterBy{
			display: flex;
			justify-content: space-around;
			color: $blackColor;
			clear: both;
			label.newLabel{
				left: 28px !important;
				background-image: url('') !important;
				width: auto !important;
				height: auto !important;
			}
			@include checkboxMixin(radio, 0, -2);
			
		}

		div.clearButton{
			margin-top: 10px;
			margin-bottom: 10px;
			@include button('przycisk.png', 16, 160, 50);
		}

	}

}

div#nouisliderDiv{
	width: 100%;
	float: left;
	clear: both;
	nouislider{
		width: 70%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.noUi-target{
		background: white !important;
		border-radius: 0 !important;
		border: 1px solid $blackColor !important;
	}
	.noUi-horizontal{
		height: 1px !important;
	}
	.noUi-horizontal .noUi-handle{
		width: 20px !important;
		height: 20px !important;
		top: -10px !important;

	}
	.noUi-handle{
		border-radius: 2500px !important;
		background: white !important;
		box-shadow: none !important;
		border: 1px solid $blackColor !important;
		&::before, &::after{
			display: none;
		}
	}
}

@include button('przycisk2.png', 16, 260, 50);
input.searchLocation{
	color: $blackColor;
	
	padding: 0 20px;

	&.not-geo{
		margin: auto;
	}

	&.is-geo{
		margin: 0;
		width: 89%;
		float: left;
	}

	&::placeholder{
		color: $blackColor;
	}
}

img.locationImage{
	width: 30px;
	cursor: pointer;
	float: right;
	margin-top: 8px;
}

div#checkboxDiv{
	float: left;
	clear: both;
	width: 100%;
	// padding: 0 25px;
	div#checkboxes{
		width: 5%;
		@media(max-width: 575px){
			width: 10%;
		}
		@media (min-width: 992px){
			width: 10%;
		}
		@include checkboxMixin(checkbox, 0, -2);
	}
	div#checkboxesValues{
		width: 95%;
		margin-top: 10px;
		float: left;
		clear: both;
		div.c{
			overflow: hidden;
			span{
				float: left;
				margin-top: 2px;
				margin-left: 5px;
				text-transform: lowercase;
				font-family: $openSansFont, sans-serif;
				font-size: 16px;
			}
			i{
				color: $redColor;
				margin-left: 5px;
				margin-top: 3px;
			}
		}
			@include checkboxMixin(checkbox, 0, -2);
		@media(max-width: 575px){
			width: 90%;
		}
		@media (min-width: 992px){
			width: 90%;
		}
		label{
			float: left;
			text-transform: lowercase;
			margin-left: 5px;
			cursor: pointer;
			font-family: $openSansFont, sans-serif;
		}
	}
}

p#distance{
	clear: both;
	color: $blackColor;
	float: left;
	width: 100%;
	margin: 1% 0;
	text-align: center;
}

div#companyCategories{
	width: 85%;
	margin: auto;
	font-size: 16px;
	overflow: hidden;

	div.categoriesI{

		div.line{
			margin-top: 5px !important;
			margin-bottom: 5px !important;
		}

		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		
		button{
			color: $blackColor;
			border: 0;
			outline: none;
			background: white;
			text-transform: lowercase;
			height: auto;
			margin: 5px 0;
			font-family: "Open Sans", sans-serif;
			img{
				width: 23px;
			}
		}
	}

	div{
		div.subcategories{
			display: flex;
			align-items: flex-start;
			float: left;
			width: 100%;
			clear: both;
			@include checkboxMixin(checkbox, 0, -2);
			label.newLabel{
				margin: 2px 8px !important;
				text-transform: lowercase;
				cursor: pointer;
			}
			label{
				font-family: "Open Sans", sans-serif;
			}
		}
	}
}