<div id="branches">
    <div class="branch" *ngFor="let branch of companyBranches">
        <h2>
            {{ branch?.name }}
            <i class="fa fa-home fa-1x" *ngIf="branch.main" aria-hidden="true"></i>
        </h2>
        <p>
            <span>
                {{ branch?.city }},
                {{ branch?.street }}
                {{ branch?.streetNo }}
            </span>
        </p>

        <div class="buttons">
            <button class="editBranch" (click)="branch.collapse = !branch.collapse">Edytuj oddział</button>
            <button class="deleteBranch hidden-sm-up" mwlConfirmationPopover [title]="title" placement="top" (confirm)="deleteBranch(branch.id)" (cancel)="cancelClicked = true">usuń oddział</button>
            <button class="deleteBranch hidden-xs-down" mwlConfirmationPopover [title]="title" placement="right" (confirm)="deleteBranch(branch.id)" (cancel)="cancelClicked = true">usuń oddział</button>
            <button class="mainBranchButton" *ngIf="!branch.main" (click)="changeMainBranch(branch.id)">Zmień na główny oddział</button>
        </div>
        <p *ngIf="branch.main">
            <span *ngIf="error" class="error">Nie można usunąć głównego oddziału</span>
        </p>
        <div class="editBranch" [collapse]="branch.collapse">
            <profile-form [type] = "'edytuj'" [branch]="branch" (callParentMethod)="editBranch($event, branch.id)"></profile-form>
        </div>
        
    </div>

    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" (click)="isCollapse = !isCollapse"></i>

    <div [collapse]="isCollapse" id="addCollapseDiv">
        <profile-form [type] = "'dodaj'" (callParentMethod)="addNewBranch($event)"></profile-form>
    </div>

</div>