<div id="branches">
    <div class="branch" *ngFor="let branch of companyBranches">
        <h2>
            {{ branch?.name }}
            <i class="fa fa-home fa-1x" *ngIf="branch.main" aria-hidden="true"></i>
        </h2>
        <span>
            {{ branch?.city }},
            {{ branch?.street }}
            {{ branch?.streetNo }}
        </span>

        <div class="buttons">
            <button class="editBranch" (click)="branch.collapse = !branch.collapse">Edytuj oddział</button>
            <button class="deleteBranch hidden-sm-up" mwlConfirmationPopover [title]="title" placement="top" (confirm)="deleteBranch(branch.id)" (cancel)="cancelClicked = true">usuń oddział</button>
            <button class="deleteBranch hidden-xs-down" mwlConfirmationPopover [title]="title" placement="right" (confirm)="deleteBranch(branch.id)" (cancel)="cancelClicked = true">usuń oddział</button>
            <button class="mainBranchButton" *ngIf="!branch.main" (click)="changeMainBranch(branch.id)">Zmień na główny oddział</button>
        </div>
        <p *ngIf="branch.main">
            <span *ngIf="error" class="error">Nie można usunąć głównego oddziału</span>
        </p>
        <div class="editBranch" [collapse]="branch.collapse">
            <profile-form [type] = "'edytuj'" [branch]="branch" (callParentMethod)="editBranch($event, branch.id)"></profile-form>
        </div>
        
    </div>

    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" (click)="isCollapse = !isCollapse"></i>

    <div [collapse]="isCollapse" id="addCollapseDiv">
        <profile-form [type] = "'dodaj'" (callParentMethod)="addNewBranchLatLng($event)"></profile-form>
    </div>

    <div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            
            <div class="header">
                <div>
                    Podałeś błędny adres, wskaż go na mapie
                </div>
            </div>
           <div>
                <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="zoom"
                [disableDefaultUI]="false"
                    [zoomControl]="true">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                    <agm-info-window>
                        <strong>InfoWindow content</strong>
                    </agm-info-window>
                </agm-map>
                <p>{{localization}}</p>
            </div>
             <div id="buttons">
                <button (click)="confirmMap()">Dodaj</button>
                <button (click)="closeModal()">Anuluj</button>

            </div>
         </div>
  </div>
   
</div>

</div>