@import '../../../../theme/sass/general/general.scss';
@import "../../profile.scss";

div#branches{
    margin: auto;

    @media(max-width: 565px){
        width: 90%;
    }
    @media(min-width: 566px){
        width: 86%;
    }
    @media(min-width: 768px){
        width: 82%;
    }
    @media(min-width: 992px){
        width: 50%;
    }

    div.branch{
        clear: both;
        h2{
            margin: 10px 0;
            font-family: $openSansFont, sans-serif;
            color: $blackColor;
            @media(max-width: 565px){
                margin: 15px 0;
            }
            text-align: left;
        }
        @include pElement(16, 15, none, left);
        p{
            @media(max-width: 565px){
                margin: 10px 0;
            }
        }
        span.error{
            color: $redColor;
        }
    }
    @include pElement(16, 15, none, center);

    i.fa-plus-circle{
        cursor: pointer;
        color: $redColor;
        text-align: center;
        margin: auto;
        display: block;
    }
    div#addCollapseDiv{
        clear: both;
        padding-top: 10px;
    }
    div.buttons{
        display: flex;
        align-items: center;
        @media(max-width: 565px){
            margin: 20px 0;
            flex-direction: column;
        }

        @media(min-width: 565px){
            flex-direction: row;
            justify-content: flex-start;
        }

        @include button('przycisk2.png', 16, 140, 57);
        button {
            margin: initial;
            &.mainBranchButton{
                height: 57px;
                width: 255px;
            }
        }
    }
    
}