@import '../../theme/sass/general/general.scss';

div.messages{
    overflow: hidden;
    margin: auto;
    @media(max-width: 565px){
        width: 96%;
    }
}

div.message{
    @include line(1, $redColor, 100, 0);
    overflow: hidden;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 2px;
    background: #FAFAFA;
    margin-bottom: 7px;
    div.message-icon{
        float: left;
        overflow: hidden;
        img{
            width: 72px;
            height: 72px;
        }
    }
    div.message-text-block{
        float: left;
        padding-left: 5px;
        font-family: $openSansFont, sans-serif;
        display: flex;
        flex-direction: column;
        @media(max-width: 565px){
            width: 35%;
        }
        a{
            color: $blackColor;
            text-transform: capitalize;
            font-size: 20px;
            font-family: $openSansFont, sans-serif;
            font-weight: bold;
            line-height: 22px;
            margin: 0;
        }
    
        @include pElement(13, 3, none, left);
    }

    div.message-distance-message-icon-work{
        float: right;
        @include pElement(12, 10, right, left);
        p{
            margin-right: 5px;
        }
        i{
            float: right;
            font-size: 35px;
            color: $redColor;
        }
    }

    div.message-content{
        width: 100%;
        clear: both;
        float: left;

        div{
            cursor: pointer;
            width: 507px;
            height: 135px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            @include pElement(16, 0, none, left);
            background-image: url('../../meta/wiadomosc_do_gory2.png');
            background-size: 100% 100%;
            @media(max-width: 507px){
                width: 100%;
            }
            p{
                line-height: 24px;
                color: white;
                padding-left: 80px;
                padding-top: 16px;
                padding-right: 35px;
                text-align: center;
            }
        }
        
        /*
        &:before{
            content: "";
            position: absolute;
            top: -16px;
            left: 13px;
            height: 30px;
            border-left: 60px solid #A20E12;
            background: #A20E12;
            border-bottom-left-radius: 90px 295px;
            transform: translate(0px, 0px);
        }
        &:after{
            content: "";
            position: absolute;
            top: -20px;
            left: -8px;
            height: 20px;
            width: 65px;
            background: #FAFAFA;
            border-bottom-left-radius: 89px 50px;
            transform: translate(21px, 0px);
        }*/
    }
    div.message-time{
        clear: both;
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: black;
        font-family: $openSansFont, sans-serif;
        span{
            color: $blackColor;
            font-size: 14px;
            @media(max-width: 575px){
                line-height: 0;
            }
        }
        @include pElement(14, 5, none, left);
        p{
            margin-top: 0;
            font-weight: bold;
        }
        
        div.end-date{
            text-align: right;
        }
    }
    div.message-photo{
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
    }
    div.message-icons{
        float: left;
        clear: both;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        share-buttons{
            div.sb-buttons{
                margin: 0;
                share-button{
                    padding: 0;
                    button {
                        outline: 0;
                        width: auto;
                        height: auto;
                        width: 20px !important;
                        height: 20px !important;
                        padding: 0;
                        div.sb-template{
                            display: flex;
                            i {

                            }
                        }
                    }
                }
            }
        }

        div.icons{
            display: flex;
            align-items: center;
            
            img{
                width: 20px;
                height: 20px;
                margin-right: 40px;
                cursor: pointer;
            }
        }
        
        div.time{
            @include pElement(14, 0, none, right);
        }
    }
    
    div.actions{
        clear: both;
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.info{
            font-family: $openSansFont, sans-serif;
            font-weight: bold;
            font-size: 14px;
        }
        div#edit, div#continue, div#delete {
            @include button('przycisk.png', 16, 140, 50);
            cursor: pointer;
        }
        div.popover{
            border: 1px solid $blackColor;
        }
        h3.popover-title{
            background: white;
            border-bottom-color: $blackColor;
            color: $blackColor;
        }
        div.popover-content{
            @include button('przycisk.png', 16, 140, 50);
        }
        
        }
}