@import '../../../../theme/sass/general/general.scss';

h5.sortH5{
    font-family: $openSansFont, sans-serif;
    margin: 10px 0;
    color: $blackColor;
    font-weight: normal;
    font-size: 16px;
    text-transform: lowercase;
    width: auto;
}

div.filterBy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $blackColor;
    clear: both;
    margin-bottom: 10px;
    label.newLabel{
        left: 28px !important;
        background-image: url('') !important;
        width: auto !important;
        height: auto !important;
    }
    @include checkboxMixin(radio, 0, -2);
    
}

div.geolocationError{
    overflow: hidden;
    // @include pElement(16, 10, none, center);
    text-align: center;
    p{
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 23px;
        span{
            font-family: $openSansFont, sans-serif;
            color: $redColor;
        }
    }
}