

<div class="filterBy" [formGroup]="filterForm">

    <h5 class="sortH5">Sortuj po:</h5>

    <div class="checkbox">
        <input type="radio" id="create_day" name="filterBy" value="CREATE_DATE" formControlName="filterBy">
        <label for="create_day"></label>
        <label for="create_day" class="newLabel">data dodania</label>
    </div>
    
    <div class="checkbox" *ngIf="ifGeolocation"> 
        <input type="radio" id="distance" name="filterBy" value="DISTANCE" formControlName="filterBy"> 
        <label for="distance"></label>
        <label for="distance" class="newLabel">najbliższe</label>
    </div>

</div>

 <div *ngIf="!ifGeolocation" class="geolocationError"> 
    <!-- <div class="geolocationError"> -->
    <p>jeśli chcesz sortować po <span>najbliższych</span> pozwól na dostęp do lokalizacji lub wpisz miasto</p>
</div>