@import '../../../../theme/sass/general/general.scss';

h5.sortH5{
    font-family: $openSansFont, sans-serif;
    margin: 10px 0;
    color: $blackColor;
    font-weight: normal;
    font-size: 13px;
    text-transform: lowercase;
    width: auto;
    margin-right: 10px;
}

div.filterBy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $blackColor;
    clear: both;
    margin-bottom: 10px;

    @include checkboxMixin(radio, 0, -2);

    label.newLabel{
        left: 28px !important;
        background-image: url('') !important;
        width: auto !important;
        height: auto !important;
        top: 2px;
        font-size: 13px;
        padding-top: 2px;
    }
    
}

div.geolocationError{
    overflow: hidden;
    text-align: center;
    p{
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 23px;
        span{
            font-family: $openSansFont, sans-serif;
            color: $redColor;
        }
    }
}