@import '../../../../theme/sass/general/general.scss';

h5{
    font-family: $openSansFont, sans-serif;
    margin: 10px 0;
    color: $blackColor;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    text-transform: lowercase;
    float: left;
}

div.filterBy{
    display: flex;
    justify-content: space-around;
    color: $blackColor;
    clear: both;
    margin-bottom: 20px;
    label.newLabel{
        left: 28px !important;
        background-image: url('') !important;
        width: auto !important;
        height: auto !important;
    }
    @include checkboxMixin(radio, 0, -2);
    
}