<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<img id="icon" src="../../meta/ikona.png" alt="">

<h2>cześć!</h2>

<div class="messangerShape">
    <p>
        Chcę przeglądać ogłoszenia z mojej okolicy bez logowania.
    </p>
</div>

<div class="router">
    <a routerLink="/koumunikat">przeglądaj</a>
</div>

<div class="messangerShape">
    <p>
        Mam działalność i chcę dodać ogłoszenie.
    </p>
</div>

<div class="router">
    <a routerLink="/login">zaloguj</a>
</div>

<div class="photo">
    <!--<img id="main" src="../../meta/Rectangle 3375.png" alt="">-->
    <div class="inside">
        <p>pobierz <span>peekpick</span> za darmo na:</p>
        <img src="../../meta/Group 2501.png" alt="">
        <img src="../../meta/Group 2498.png" alt="">
        <p>(iOS w fazach testów)</p>
    </div>
</div>

<div class="sign">
    <h3>Czym jest peekpick?</h3>
    <img src="../../meta/Group 2510.png" alt="">
    <h4>prostym is skutecznym <p>narzędziem marketingowym</p> </h4>
    <h3>Co mi da założenie tu konta?</h3>
</div>