<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<div id="home">

    <div class="hello">
        <img id="icon" src="../../meta/ikona.png" alt="">

        <h2>cześć!</h2>

        <div class="messangerShape">
            <p>
                Chcę przeglądać ogłoszenia z mojej okolicy bez logowania.
            </p>
        </div>

        <div class="router">
            <button routerLink="/pages/komunikat">przeglądaj</button>
        </div>

        <div class="messangerShape">
            <p>
                Mam działalność i chcę dodać ogłoszenie.
            </p>
        </div>

        <div class="router">
            <button routerLink="/pages/login">zaloguj</button>
        </div>
    </div>
    
    <div class="photo">
        <img id="main" src="../../meta/Rectangle3375.png" alt="">
        <div class="inside">
            <p>pobierz <span>peekpick</span> za darmo na:</p>
            <img src="../../meta/Group2501.png" alt="">
            <img src="../../meta/Group2498.png" alt="">
            <p>(iOS w fazach testów)</p>
        </div>
    </div>

    <div class="sign">
        <h1 id="main">?</h1>
        
        <div class="inside">
            <h3>Czym jest peekpick?</h3>
        
            <div class="ih">
                <img src="../../meta/Group2510.png" alt="">
                <h4>prostym i skutecznym<p>narzędziem marketingowym</p> </h4>
            </div>
            
            <h3>Co mi da założenie tu konta?</h3>
            
            <div class="ih">
                <img src="../../meta/Group2505.png" alt="">
                <h4>zbliżysz liczne grono<p>klientów, odbiorców i gości</p> </h4>
            </div>
            
            <div class="ih">
                <img src="../../meta/Group2508.png" alt="">
                <h4>przyniesie ogromne efekty<p>promocji twojej firmy</p> </h4>
            </div>

            <div class="ih">
                <img src="../../meta/Symbol19–1.png" alt="">
                <h4>z pomocą małego<p>nakładu finansowego</p> </h4>
            </div>
        </div>
        
    </div>

    
</div>
