$redColor: #A20E12;
$blackColor: #263238;
$darkerBlackColor: #2B2E34;

div#home{
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 575px){
        flex-direction: column;
    }
    @media(min-width: 576px){
        flex-direction: row;
    }
    div.hello{
        @media(max-width: 575px){
            width: 100%;
        }
        @media(min-width: 576px){
            width: 100%;
        }
        @media(min-width: 992px){
            width: (100%/3);
            order: 2;
        }
        img#icon{
            display: block;
            margin: auto;
            width: 110px;
            height: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        h2{
            color: $redColor;
            text-align: center;
            font-size: 40px;
            font-family: 'Sanchez', serif;
            margin-bottom: 5%;
        }

        div.messangerShape{
            position: relative;
            background: #A20E12;
            color: white;
            margin: 30px 9% 40px 9%;
            padding: 16px 25px;
            border-radius: 275px;
            @media(max-width: 565px){
                width: 90%;
                margin: auto;
            }
            @media(min-width: 566px){
                width: 60%;
                margin: auto;
            }
            @media(min-width: 768px){
                width: 50%;
            }
            @media(min-width: 992px){
                width: 90%;
            }
            @media(min-width: 1400px){
                width: 70%;
            }

            &::before{
                content: "";
                position: absolute;
                bottom: -30px;
                right: 6%;
                height: 30px;
                border-left: 60px solid #A20E12;
                background: #A20E12;
                border-bottom-left-radius: 80px 50px;
                transform: translate(0, 0px);
            }

            &::after{
                content: "";
                position: absolute;
                bottom: -30px;
                right: -17px;
                width: 37px;
                height: 30px;
                background: white;
                border-bottom-left-radius: 40px 50px;
                transform: translate(-30px, 0px);
            }

            p {
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                color: white;
                line-height: 22px;
                text-align: center;
            }
        }

        div.router{
            text-align: center;
            margin: 10px 0;
            @media(min-width: 566px){
                // margin: 8% 0;
            }
            
            a{
                background-image: url('../../meta/przycisk.png');
                background-size: 100% 100%;
                width: 180px;
                height: 50px;
                font-family: 'Sanchez', serif;
                font-size: 20px;
                padding: 10px;
                color: $redColor;
                // border: 2px dotted $redColor;
                display: block;
                // width: 60%;
                margin: auto;
                padding-top: 15px;
            }

        }
    }
    div.photo{
        position: relative;
        overflow: hidden;        
        @media(max-width: 575px){
            width: 100%;
        }
        @media(min-width: 576px){
            width: 50%;
            order: 3;
        }
        @media(min-width: 992px){
            width: (100%/3);
        }
        h1#main {
            position: relative;
            // width: 100%;
            font-size: 100px;
        }
        div.inside{
            position: absolute;
            top: 70%;
            left: 17%;
            p{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: $blackColor;
                margin: 6px 0;
                span{
                    font-size: 14px;
                    font-family: 'Sanchez', serif;
                    color: $redColor;
                }
            }
        }
    }

    div.sign{
        @media(max-width: 575px){
            width: 100%;
        }
        @media(min-width: 576px){
            width: 50%;
            order: 1;
        }
        @media(min-width: 992px){
            width: (100%/3);
        }
        // margin-top: 60px;
        overflow: hidden;
        padding: 0 8%;
        position: relative;
        
        h1#main{
            // width: 100%;
            position: relative;
            font-size: 460px;
            @media(min-width: 566px){
                font-size: 450px;
            }
            @media(min-width: 768px){
                font-size: 500px;
            }
            @media(min-width: 992px){
                font-size: 460px;
            }
            color: $redColor;
            opacity: 0.3;
            font-family: 'Sanchez', serif;
        }

        div.inside{
            position: absolute;
            @media(max-width: 565px){
                top: 31%;
                left: 13%;
            }
            @media(min-width: 566px){
                top: 31%;
                left: 13%;
            }
            
            @media(min-width: 992px){
                top: 29%;
                left: 28%;
            }
            h3 {
                color: $redColor;
                font-size: 24px;
                font-family: 'Sanchez', serif;
                text-align: center;
                margin-bottom: 5%;
            }
            div.ih{
                overflow: hidden;
                img{
                    float: left;
                    margin-right: 3%;
                }
                h4{
                    color: $darkerBlackColor;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    float: left;
                    width: auto;
                }
            }
        }

        
    }

}
