@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';

$siderbarTopColour: white;
$redColor: #A20E12;

.page-top {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(230,236,240,0.8);
    -moz-box-shadow: 0px 2px 3px 0px rgba(230,236,240,0.8);
    box-shadow: 0px 2px 3px 0px rgba(230,236,240,0.8);
    div.baPageTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.logo, div.icons{
            display: flex;
            align-items: center;
        }
    }

    background-color: $siderbarTopColour;
    position: fixed;
    z-index: 904;
    height: 56px;
    width: 100%;
    padding: 0 12px;

    .dropdown-toggle::after {
      display: none;
    }

    a.al-logo {
        display: block;
        white-space: nowrap;
        outline: none !important;
        
        img{
            width: 50px;
        }
    }

    a.collapse-menu-link {
        font-size: 45px;
        cursor: pointer;
        display: block;
        text-decoration: none;
        line-height: 42px;
        color: $redColor;
        padding: 0;
    }

    span{
        font-size: 20px;
        color: $redColor;
        font-family: 'Sanchez', serif;
    }

    div.dropdown{
        cursor: pointer;
        
        i{
            color: $redColor;
        }
        div.dropdown-menu{
            background: transparent;
            
            @media(max-width: 575px){
                left: -194px;
            }
            @media(min-width: 566px){
                left: -270px;
            }
          
          padding: 0 20px;
          top: 45px;
          min-width: 320px;
          border: 0;
            div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: white;
                border: 1px solid $redColor;
                margin-bottom: 10px;
                float: right;
                clear: both;
                padding: 5px 10px;
                border-radius: 3px;
                a{
                    display: block;
                    color: $redColor;
                    font-size: 20px;
                    line-height: 22px;
                    text-align: right;
                    font-family: 'Sanchez', serif;
                    text-transform: lowercase;
                }
                i{
                    margin-left: 5px;
                }
            }
          
        }
        i#dropdownMenuButton{
            outline: 0;
        }

    }

    i#searchIcon{
        color: $redColor;
        cursor: pointer;
        text-align: right;
        outline: 0;
        margin-right: 10px;
    }

    div.line{
        float: left;
        width: 100%;
        div{
            display: block;
            width: 94%;
            margin: 0 auto;
            height: 2px;
            background: $redColor;
        }
    }
}

// .al-sidebar .sidebar-hover-elem{
//     left: 236px;
// }

.completer-image {
     width: 45px;
     height: 45px;
}
.completer-title {
    top: 10%;
}