@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';

$siderbarTopColour: white;
$redColor: #A20E12;

.page-top {

    div.baPageTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.logo, div.icons{
            display: flex;
            align-items: center;
        }
    }

    background-color: $siderbarTopColour;
    position: fixed;
    z-index: 904;
    height: 56px;
    width: 100%;
    padding: 0 12px;

    .dropdown-toggle::after {
      display: none;
    }

    a.al-logo {
        display: block;
        white-space: nowrap;
        outline: none !important;
        
        img{
            width: 50px;
        }
    }

    a.collapse-menu-link {
        font-size: 45px;
        cursor: pointer;
        display: block;
        text-decoration: none;
        line-height: 42px;
        color: $redColor;
        padding: 0;
    }

    span{
        font-size: 20px;
        color: $redColor;
    }

    div.dropdown{
        cursor: pointer;
        
        i{
            color: $redColor;
        }
        div.dropdown-menu{
            @media(max-width: 575px){
                left: -194px;
            }
            @media(min-width: 566px){
                left: -200px;
            }
          
          padding: 0 20px;
          top: 70px;
          min-width: 240px;
          border: 0;
            div{
                display: flex;
                justify-content: flex-end;
                a{
                    display: block;
                    color: $redColor;
                    font-size: 20px;
                    line-height: 22px;
                    padding: 10px 0;
                    text-align: right;
                    font-family: 'Sanchez', serif;
                    text-transform: lowercase;
                }
                i{
                    margin-top: 10px;
                    margin-left: 5px;
                }
            }
          
        }
        i#dropdownMenuButton{
            outline: 0;
        }

        /*input.completer-input{
            margin-top: 20px;
            border-radius: 1px;
            padding: 7px;
            border: 1px solid $redColor;
            outline: 0;
        }*/
    }

    i#searchIcon{
        color: $redColor;
        cursor: pointer;
        text-align: right;
        outline: 0;
        margin-right: 10px;
    }

    /*.user-profile {
        float: right;
        padding-top: 11px;
        .al-user-profile {
            float: right;
            transition: all .15s ease-in-out;
            padding: 0;
            width: 36px;
            height: 36px;
            border: 0;
            opacity: 1;
            position: relative;
            margin-right: 20px;
            a {
              display: block;
            }
            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
        }
    }*/

    div.line{
        float: left;
        width: 100%;
        div{
            display: block;
            width: 94%;
            margin: 0 auto;
            height: 2px;
            background: $redColor;
        }
    }
}

.al-sidebar .sidebar-hover-elem{
    left: 236px;
}

.completer-image {
     width: 45px;
     height: 45px;
}
.completer-title {
    top: 10%;
}