@import '../../../../theme/sass/general/general.scss';
@import "../../profile.scss";

div#additionalInfo{
    width: 100%;
    margin: auto;

    @media(max-width: 565px){
        width: 90%;
    }
    @media(min-width: 566px){
        width: 86%;
    }
    @media(min-width: 768px){
        width: 82%;
    }
    @media(min-width: 992px){
        width: 65%;
    }

    @media(max-width: 575px){
        // padding: 0 20px;
    }

    form{

        div.error{
            @include pElement(16, 10, none, center);
        }

        @include inputBlack(0, 17, 100);

        div#contact{
            clear: both;
            float: left;
            margin: 1% 0 2% 0;
            width: 100%;
            div#website, div#phoneNumber, div#email{
                width: 50%;
                float: left;
                padding-right: 2%;
                margin: 2% 0;
                @media(max-width: 575px){
                    width: 100%;
                }
            }
            div#openingHours{
                width: 50%;
                float: right;
                margin-top: 2%;
                @media(max-width: 575px){
                    width: 100%;
                }
                
                textarea{
                    float: right;
                    width: 100%;
                    font-family: $openSansFont, sans-serif;
                    outline: 0;
                }
            }
            div#description{
                float: left;
                clear: both;
                width: 100%;
                margin: 1% 0;
                label{
                    display: block;
                }
                textarea{
                    width: 100%;
                    font-family: $openSansFont, sans-serif;
                    outline: 0;
                }
            }
        }

        label{
            display: block;
            font-family: $openSansFont, sans-serif;
            font-size: 17px;
            color: $blackColor;
            @media(max-width: 575px){
                text-align: left;
            }
        }

        // @include button('przycisk.png');
        @include button('przycisk.png', 16, 160, 50);
    }
}