@import 'conf/conf';
@import 'general/general.scss';

@include scrollbars(.5em, #d9d9d9, rgba(0, 0, 0, 0));

html {
  	min-width: 320px;
}

html, body, main {
  	height: 100%;
}

.al-main {
	padding-top: 47px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 100%;
    background: $backgroundColor;
}

.al-content {
  background: $backgroundColor;
  position: relative;
  ba-search{
      z-index: 2;
      height: 100%;
      padding-bottom: 80px;
      width: 278px;

      @media(max-width: 565px){
          padding: 0;
      }
      @media(min-width: 768px){
          position: fixed;
          overflow: scroll;
          -webkit-box-shadow: -2px 2px 5px 0px rgba(195,195,195,0.8);
          -moz-box-shadow: -2px 2px 5px 0px rgba(195,195,195,0.8);
          box-shadow: -2px 2px 5px 0px rgba(195,195,195,0.8);
      }
    //   @media(min-width: 992px){
    //       width: 278px;
    //   }

      top: 53px;
      right: 0;
      background: white;
      div.ba-search-div{
        background: white;
        padding-bottom: 10px;
        margin: auto;
        @media(max-width: 565px){
            width: 96%;
            margin-top: 10px;
        }
        @media(min-width: 566px){
            width: 486px;
        }
        @media(min-width: 768px){
            width: auto;
        }
      }
  }
  
}