<div id="companyMain">

    <div class="cLine">
        <div></div>
    </div>

        <div class="compDiv">
            <div>
                <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
                <h4>Adres:</h4>
            </div>
            
            <p>
                <span *ngIf="otherOneCompany?.city">{{  otherOneCompany?.city }}, </span>
                <span *ngIf="otherOneCompany?.street">{{  otherOneCompany?.street }}, </span>
                <span *ngIf="otherOneCompany?.streetNo">{{  otherOneCompany?.streetNo }} </span>
            </p>
        </div>
        
        <div *ngIf="otherOneCompany?.website" class="compDiv">
            <div>
                <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                <h4>Strona internetowa:</h4>
            </div>
            
            <a href="{{ otherOneCompany?.website }}" _target="blank">{{ otherOneCompany?.website }}</a>
        </div>
        <div *ngIf="otherOneCompany?.phoneNumber" class="compDiv">
            <div>
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                <h4>Nr telefonu:</h4>
            </div>
            <p><span>{{ otherOneCompany?.phoneNumber }}</span></p>
        </div>
        <div *ngIf="otherOneCompany?.email" class="compDiv">
            <div>
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                <h4>Email:</h4>
            </div>
            <p><span>{{ otherOneCompany?.email }}</span></p>
        </div>

        <div class="compDiv">
            <div>
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                <h4>Godziny otwarcia: </h4>
            </div>
            <p class="opening" *ngIf="otherOneCompany?.openingHours"><span> {{ otherOneCompany?.openingHours }} </span></p>
        </div>

    <div class="compDivD">
        <p class="desc" *ngIf="otherOneCompany?.description">{{ otherOneCompany?.description }}</p>
    </div>
    
</div>