@import '../../theme/sass/general/general.scss';
@import '../messages/messages.scss';

div.modal-dialog{
    margin: 30px auto !important;
    position: relative;
    @media(min-width: 544px){
        max-width: 500px;
        margin: 20px auto !important;
    }
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

div.single{
    @media (min-width: 544px){
        max-width: 590px;
    }
}

img.close-img{
    width: 25px;
    position: absolute;
    right: 6px;
    top: 8px;
    cursor: pointer;
}

div.message-distance-message-icon-work{
    margin-right: 20px;
}

div.start-date{
    p, span{

    }
}