<ba-sidebar></ba-sidebar>
<ba-page-top></ba-page-top>
<div class="al-main">
    <div class="al-content">
        <ba-search *ngIf="showSearch"></ba-search>
        <h2 *ngIf="ifEmail" class="emailchangeinfo">{{ info }}</h2>
        <div *ngIf="ifPassword">
            <div class="updatePassword">
                <form [formGroup] = "emailForm" (ngSubmit)="updatePassword(emailForm.value)">
                    <div formGroupName="passwords">
                        <input formControlName="password" type="password" placeholder="nowe hasło">
                        <div *ngIf="emailForm.controls['passwords'].controls['password'].hasError('required') && emailForm.controls['passwords'].controls['password'].touched" class="error">
                            <p>musisz wpisać nowe hasło</p>
                        </div>
                        
                        <input formControlName="repeatPassword" type="password" placeholder="Powtórz nowe hasło">
                        <div *ngIf="emailForm.controls['passwords'].controls['repeatPassword'].hasError('required') && emailForm.controls['passwords'].controls['repeatPassword'].touched" class="error">
                            <p>musisz wpisać ponownie nowe hasło</p>
                        </div>
                        
                        <div class="error" *ngIf="!emailForm.controls['passwords'].valid && emailForm.controls['passwords'].controls['repeatPassword'].touched">
                            <p>Hasła są niezgodne</p>
                        </div>
                    </div>
            
                    <button [ngClass] = "{disabled: (!emailForm.valid)}" [disabled]="!emailForm.valid">zapisz</button>
                </form>
                <p *ngIf="message" class="info">{{ message }}</p>
            </div>
        </div>
    </div>
    <ba-back-top position="200"></ba-back-top>
    <ba-footer></ba-footer>
</div>
