<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<div id="footer">
    <div class="line">
        <div></div>
    </div>

    <div id="inside">
        <div id="a-router">
            <button routerLink="/home">jak to działa?</button>
            <img src="../../../meta/Group2498.png" alt="">
        </div>

        <div id="bottomDiv">
            <img src="../../../meta/Group2501.png" alt="">
            <div class="text">
                <p>napisz do nas na:</p>
                <button routerLink="/home">kontakt@peekpick.pl</button>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li><a routerLink="/pages/home">strona główna</a></li>
                <li><a routerLink="/pages/favourites">obserwowane</a></li>
                <li><a routerLink="/pages/komunikat">o nas</a></li>
                <li><a routerLink="/pages/regulaminy">regulaminy</a></li>
            </ul>
        </div>
    </div>
    
</div>