<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<div id="footer">
    <div class="footerLine"></div>

    <div id="inside">
        <div id="a-router">
            <a routerLink="/home">jak to działa?</a>
            <a routerLink="/home">
                kup posty
                <img src="../../../meta/Symbol19–1.png" alt="">
            </a>
        </div>

        <div id="bottomDiv">
            <img src="../../../meta/Group2498.png" alt="">
            <img src="../../../meta/Group2501.png" alt="">
            <div class="text">
                <p>napisz do nas na:</p>
                <a routerLink="/home">kontakt@peekpick.pl</a>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li><a routerLink="/home">strona główna</a></li>
                <li><a routerLink="/komunikat">ogłoszenia</a></li>
                <li><a routerLink="/favourites">ulubione</a></li>
                <li><a routerLink="/profile">moje konto</a></li>
            </ul>
        </div>
    </div>
    
</div>